<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- 	<settings>
            <setting name="lazyLoadingEnabled" value="true"/>
            <setting name="aggressiveLazyLoading" value="false"/>
        </settings>
     -->
	<!-- 实体类,简称 -设置别名 -->
	<typeAliases>
		<typeAlias alias="User" type="com.ulaiber.web.model.User" />
		<typeAlias alias="Bank" type="com.ulaiber.web.model.Bank" />
		<typeAlias alias="Salary" type="com.ulaiber.web.model.Salary" />
		<typeAlias alias="SalaryDetail" type="com.ulaiber.web.model.SalaryDetail" />
		<typeAlias alias="ThirdUrl" type="com.ulaiber.web.model.ThirdUrl" />
		<typeAlias alias="Category" type="com.ulaiber.web.model.Category" />
		<typeAlias alias="Module" type="com.ulaiber.web.model.Module" />
		<typeAlias alias="Banner" type="com.ulaiber.web.model.Banner" />
		<typeAlias alias="Attendance" type="com.ulaiber.web.model.Attendance" />
		<typeAlias alias="AttendanceRule" type="com.ulaiber.web.model.AttendanceRule" />
	</typeAliases>
	<!-- 实体接口映射资源 -->

	<!--
		说明：如果xxMapper.xml配置文件放在和xxMapper.java统一目录下，mappers也可以省略，因为org.mybatis.spring.mapper.MapperFactoryBean默认会去查找与xxMapper.java相同目录和名称的xxMapper.xml
	-->
	<mappers>
		<mapper resource="com/ulaiber/web/mapper/userMapper.xml" />
		<mapper resource="com/ulaiber/web/mapper/bankMapper.xml" />
		<mapper resource="com/ulaiber/web/mapper/salaryMapper.xml" />
		<mapper resource="com/ulaiber/web/mapper/salaryDetailMapper.xml" />
		<mapper resource="com/ulaiber/web/mapper/thirdUrlMapper.xml" />
		<mapper resource="com/ulaiber/web/mapper/categoryMapper.xml" />
		<mapper resource="com/ulaiber/web/mapper/moduleMapper.xml" />
		<mapper resource="com/ulaiber/web/mapper/bannerMapper.xml" />
		<mapper resource="com/ulaiber/web/mapper/permissionMapper.xml" />
		<mapper resource="com/ulaiber/web/mapper/companyMapper.xml" />
		<mapper resource="com/ulaiber/web/mapper/employeeMapper.xml" />
		<mapper resource="com/ulaiber/web/mapper/roleMapper.xml" />
		<mapper resource="com/ulaiber/web/mapper/roleMenuMapper.xml" />
		<mapper resource="com/ulaiber/web/mapper/levelInfoMapper.xml" />
		<mapper resource="com/ulaiber/web/mapper/attendance.xml" />
		<mapper resource="com/ulaiber/web/mapper/attendanceRule.xml" />
		<mapper resource="com/ulaiber/web/mapper/leaveMapper.xml" />
		<mapper resource="com/ulaiber/web/mapper/leaveAuditMapper.xml" />
		<mapper resource="com/ulaiber/web/mapper/ReportMapper.xml" />
		<mapper resource="com/ulaiber/web/mapper/OvertimeMapper.xml" />
		<mapper resource="com/ulaiber/web/mapper/reimbursementMapper.xml" />
		<!--<package name="com.ulaiber.web.dao.*"/>-->
	</mappers>

</configuration>  