@charset "utf-8";
/* CSS Document */
body {
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	font-family: "微软雅黑","宋体","黑体";
	background-color: #333;
}
div,ul,li,h1,h2,h3,h4,h5,h6,img,p,dl,dt,dd,ol,th,td,form{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	border:0;
}
input{color:#666}
.body a img:hover{
	box-shadow:2px 2px 5px rgba(0,0,0,.3);
	/*filter:alpha(opacity=90);  
	-moz-opacity:0.9;  
	-khtml-opacity: 0.9;  
	opacity: 0.9;*/
	}
.clear {
	clear: both;
	font-size: 0px;
	line-height: 0px;
	margin: 0px;
	padding: 0px;
}
.fontRed {
	color: #B53311!important;
	background-image: none!important;
	float: none!important;
	display: inline!important;
}
a:link,a:visited {
	text-decoration: none;
	color: #333;
	/*border-radius:3px 3px 3px 3px;*/
}
a:hover {
	text-decoration: underline;
}
.head {
}
.head .menu {
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #B53311;
	height: 53px;
	background-color: #393939;
}
.headbody {
	height: 551px;
	background-position: center top;
}
.head .menu ul li {
	display: block;
	float: left;
	height: 53px;
	width: 85px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #555555;
	border-left-color: #313131;
	cursor:pointer;
}
.head .menu .menuK {
	height: 53px;
	width: 1004px;
	margin-right: auto;
	margin-left: auto;
}
.head .menu .menuK ul {
	display: block;
	float: left;
}
.head .menu .menuK .headPho {
	display: block;
	float: right;
	height: 53px;
	width: 242px;
	background-image: url(../images/icon/phoz.png);
	background-repeat: no-repeat;
	background-position: right center;
}
.head .menu .menuK ul li span {
	height: 25px;
	width: 85px;
	display: block;
	background-image: url(../images/icon/head_icon.png);
	background-repeat: no-repeat;
}
.head .menu .menuK ul li a {
	text-align: center;
	height: 25px;
	width: 85px;
	font-size: 14px;
	line-height: 25px;
	color: #FFF;
	display: block;
}
.icon01{
	background-position: -0px 0px;
	}
.icon02{
	background-position: -85px 0px;
	}
.icon03{
	background-position: -170px 0px;
	}
.icon04{
	background-position: -255px 0px;
	}
.icon05{
	background-position: -340px 0px;
	}
.icon06{
	background-position: -425px 0px;
	}
.head .menu .menuK ul .menuRed {
	background-color: #B53311;
}
.head .menu .menuK ul .menuRed span {
	height: 25px;
	width: 85px;
	display: block;
	background-image: url(../images/icon/head_icon.png);
	background-repeat: no-repeat;
	background-position: 0px -25px;
}
.menuRed .icon01{
	background-position: -0px -25px!important;
	}
.menuRed .icon02{
	background-position: -85px -25px!important;
	}
.menuRed .icon03{
	background-position: -170px -25px!important;
	}
.menuRed .icon04{
	background-position: -255px -25px!important;
	}
.menuRed .icon05{
	background-position: -340px -25px!important;
	}
.menuRed .icon06{
	background-position: -425px -25px!important;
	}
.headbodyK {
	width: 1004px;
	margin-right: auto;
	margin-left: auto;
}
.headbodyK .headLogoK {
	height: 100px;
	width: 1004px;
}
.headLogoK .logo {
	background-image: url(../images/bg/logo.png);
	background-repeat: no-repeat;
	height: 100px;
	width: 280px;
	display: block;
	float: left;
}
.headLogoK .search {
	height: 100px;
	width: 724px;
	float: left;
}
.headLogoK .search .login {
	font-size: 12px;
	line-height: 39px;
	height: 39px;
	width: 724px;
	text-align: right;
	color: #FFF;
}
.headLogoK .search .login a{
	line-height: 39px;
	display: inline-block;
	height: 39px;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: 0px center;
	margin-right: 5px;
	margin-left: 5px;
}
.cont01{
	height: 447px;
	width: 562px;
	padding-top: 30px;
	padding-left: 10px;
	}
.cont02,.cont03,.cont04{
	height: 487px;
	width: 562px;
	padding-top: 10px;
	padding-left: 10px;
	overflow: auto;
	}
.cont01 .t1 {
	height: 406px;
	width: 135px;
	float: left;
}
.cont01 .t2 {
	height: 406px;
	width: 406px;
	float: left;
	padding-right: 10px;
	padding-left: 10px;
}

.user1{
	padding-left: 15px;
	background-image: url(../images/icon/use01.gif);
	}
.user2{
	padding-left: 15px;
	background-image: url(../images/icon/use02.gif);
	}
.user3{
	padding-left: 15px;
	background-image: url(../images/icon/use03.gif);
	}
.user4{
	padding-left: 15px;
	background-image: url(../images/icon/use05.gif);
	}
.user5{
	padding-left: 15px;
	background-image: url(../images/icon/use04.gif);
	}
.muser1{
	padding-left: 15px;
	background-image: url(../images/icon/use05_b.gif);
	}
.muser2{
	padding-left: 15px;
	background-image: url(../images/icon/use02_b.gif);
	}
.muser3{
	padding-left: 15px;
	background-image: url(../images/icon/use03_b.gif);
	}
.muser4{
	padding-left: 15px;
	background-image: url(../images/icon/use01_b.gif);
	}
.muser5{
	padding-left: 15px;
	background-image: url(../images/icon/use04_b.gif);
	}
.headLogoK .search .login a:link,.headLogoK .search .login a:visited {
	color: #FFF;
	text-decoration: none;
}
.headLogoK .search .login a:hover {
	color: #FFF;
	text-decoration: underline;
}
.headLogoK .search .searchK {
	height: 55px;
	width: 614px;
	padding-top: 6px;
	padding-left: 110px;
}
.headLogoK .search .searchK .searchInput {
	float: left;
	height: 36px;
	width: 394px;
	margin-right: 10px;
}
.BugV {
	float: left;
	height: 36px;
	width: 210px;
}
.searchK .searchInput span{
	background-image: url(../images/bg/searchBg.gif);
	background-repeat: no-repeat;
	display: block;
	float: left;
	}
.searchK .searchInput .lft {
	float: left;
	height: 36px;
	width: 3px;
}
.searchK .searchInput .rgt{
	background-position: -5px 0px;
	float: left;
	height: 36px;
	width: 3px;
}
.searchK .searchInput .cnt{
	float: left;
	height: 36px;
	width: 388px;
	background-repeat: repeat-x;
	background-image: url(../images/bg/ptbg.gif);
	padding: 0px;
}
.searchK .searchInput .cnt form .inputSch {
	font-size: 16px;
	line-height: 24px;
	height: 24px;
	width: 342px;
	border:0;
	margin-top: 2px;
	font-family: "微软雅黑", "黑体", "宋体";
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	margin-right: 4px;
	color: #666;
	width: 340px\9;
	*width: 339px;
	_width: 340px;
}
.searchK .searchInput .cnt form .searchBt {
	background-image: url(../images/bg/searchBg.gif);
	background-repeat: no-repeat;
	background-position: -10px 0px;
	height: 27px;
	width: 27px;
	text-indent: -999em;
	overflow: hidden;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	cursor:pointer;
}
/*
.BugV span{
	background-image: url(../images/bg/searchBg.gif);
	background-repeat: no-repeat;
	display: block;
	float: left;
	}
.BugV .lft {
	float: left;
	height: 36px;
	width: 3px;
}
.BugV .rgt{
	background-position: -5px 0px;
	float: left;
	height: 36px;
	width: 3px;
}
.BugV .cnt{
	height: 30px;
	width: 210px;
	background-repeat: repeat-x;
	background-image: url(../images/bg/ptbg.gif);
	cursor:pointer;
	line-height: 30px;
}
.BugV .cnt div {
	font-size: 16px;
	line-height: 27px;
	height: 27px;
	width: 150px;
	font-family: "微软雅黑", "黑体", "宋体";
	background-image: url(../images/bg/searchBg.gif);
	background-repeat: no-repeat;
	background-position: -40px 0px;
	margin-top: 5px;
	padding-left: 32px;
	margin-left: 5px;
}*/
.proMenu {
	height: 39px;
	width: 1004px;
	position: relative!important;
	z-index: 10000!important;
}
.proMenu .lft {
	background-image: url(../images/bg/ptbg.gif);
	background-position: 0px -36px;
	display: block;
	float: left;
	height: 39px;
	width: 3px;
}

.proMenu .cnt{
	background-image: url(../images/bg/menuBg.jpg);
	display: block;
	float: left;
	height: 39px;
	width: 998px;
}
.proMenu .rgt{
	background-image: url(../images/bg/ptbg.gif);
	background-position: 0px -75px;
	display: block;
	float: left;
	height: 39px;
	width: 3px;
}

.headAd {
	width: 1004px;
	background-image: url(../images/bg/headAdBg.gif);
	padding-top: 16px;
	height: 312px;
}
.headAd .ad {
	height: 300px;
	width: 977px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	border: 1px solid #242424;
	margin-bottom: 10px;
	display: block;
	font-size: 0px;
	line-height: 0px;
}
.adLine {
	background-image: url(../images/bg/headAdline.gif);
	height: 3px;
	width: 1004px;
	margin-right: auto;
	margin-left: auto;
	font-size: 0px;
	line-height: 0px;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.body {
	background-image: url(../images/bg/bodyBg.jpg);
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
}
.idx_4ad {
	width: 1004px;
	margin-right: auto;
	margin-left: auto;
	height: 102px;
	overflow: hidden;
	position: relative;
	top: -68px;
}
.idx_4ad a {
	float: left;
	border: 1px solid #999;
	height: 100px;
	width: 240px;
	background-color: #999;
	margin-right: 12px;
}
.idx_4gdns {
	height: 200px;
	width: 1004px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 24px;
	position: relative;
	top: -68px;
}
.idx_4gdns li {
	float: left;
}
.idx_4gdns a {
	display: inline;
	float: left;
	height: 194px;
	width: 234px;
	border: 3px solid #F3F3F3;
	_margin-right:-3px;
	overflow: hidden;
	margin-right: 14px;
	background-color: #FFF;
}
.idx_4gdns a:hover {
	border: 3px solid #000;
	box-shadow:2px 2px 5px rgba(0,0,0,.5);
	filter:alpha(opacity=60);  
	-moz-opacity:0.6;  
	-khtml-opacity: 0.6;  
	opacity: 0.6;  
}
.idx_4gdns .gad {
	background-image: url(../images/bg/4gdns_01.jpg);
}
.idx_4gdns .quality {
	background-image: url(../images/bg/4gdns_02.jpg);
}
.idx_4gdns .match {
	background-image: url(../images/bg/4gdns_03.jpg);
}
.idx_4gdns .pleasantly {
	background-image: url(../images/bg/4gdns_04.jpg);
}
.idx_4gdns .gad:hover {
	background-image: url(../images/bg/4gdns_01_re.jpg);
	border:#333 solid 3px;
}
.idx_4gdns .quality:hover {
	background-image: url(../images/bg/4gdns_02_re.jpg);
	border:#333 solid 3px;
}
.idx_4gdns .match:hover {
	background-image: url(../images/bg/4gdns_03_re.jpg);
	border:#333 solid 3px;
}
.idx_4gdns .pleasantly:hover {
	background-image: url(../images/bg/4gdns_04_re.jpg);
	border:#333 solid 3px;
}.idx_4Pro {
	height: 450px;
	width: 1004px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	position: relative;
	top: -68px;
}
.idx_4Pro .proK {
	float: left;
	height: 450px;
	width: 245px;
}
.idx_4Pro .proK .Cl {
	height: 41px;
	width: 245px;
	background-color: #000;
	display: block;
	font-family: "微软雅黑", "黑体", "宋体";
	font-size: 16px;
	line-height: 41px;
	color: #FFF;
	text-align: center;
	overflow: hidden;
}
.idx_4Pro .proK .Img {
	height: 239px;
	width: 239px;
	border: 3px solid #F3F3F3;
	display: block;
	overflow: hidden;
}
.idx_4Pro .proK .Nm {
	font-size: 15px;
	line-height: 35px;
	height: 35px;
	width: 220px;
	padding-left: 15px;
	overflow: hidden;
	display: block;
	font-family: "微软雅黑", "黑体", "宋体";
	color: #000;
	font-weight: 700;
	background-color: #FFF;
	padding-right: 10px;
}
.idx_4Pro .proK .Ex {
	font-size: 12px;
	line-height: 21px;
	height: 42px;
	width: 220px;
	padding-left: 15px;
	display: block;
	overflow: hidden;
	padding-right: 10px;
	background-color: #FFF;
}
.idx_4Pro .proK .Prc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 26px;
	line-height: 30px;
	color: #B53311;
	height: 30px;
	width: 230px;
	padding-left: 15px;
	font-style: italic;
	font-weight: 700;
	display: block;
	background-color: #FFF;
	padding-top: 5px;
	padding-bottom: 15px;
}
.idx_4Pro .proK .more {
	line-height: 25px;
	text-align: center;
	height: 35px;
	width: 245px;
	display: block;
	background-image: url(../images/bg/angle.gif);
	background-repeat: no-repeat;
	font-size: 12px;
	color: #333;
}
.idx_4Pro .proK:hover .Cl {
	height: 41px;
	width: 245px;
	background-color: #B53311;
	display: block;
	font-family: "微软雅黑", "黑体", "宋体";
	font-size: 16px;
	line-height: 41px;
	color: #FFF;
	text-align: center;
	overflow: hidden;
}
.idx_4Pro .proK:hover .Img {
	height: 239px;
	width: 239px;
	border: 3px solid #B53311;
	display: block;
	overflow: hidden;
	background-color: #FFF;
}
.idx_4Pro .proK:hover .Nm {
	font-size: 15px;
	line-height: 35px;
	height: 35px;
	width: 220px;
	padding-left: 15px;
	overflow: hidden;
	display: block;
	font-family: "微软雅黑", "黑体", "宋体";
	color: #FFF;
	font-weight: 700;
	background-color: #B53311;
	padding-right: 10px;
	text-decoration: underline;
}
.idx_4Pro .proK:hover .Ex {
	font-size: 12px;
	line-height: 21px;
	height: 42px;
	width: 220px;
	padding-left: 15px;
	display: block;
	overflow: hidden;
	padding-right: 10px;
	background-color: #B53311;
	color: #FFF;
	text-decoration: underline;
}
.idx_4Pro .proK:hover .Prc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 26px;
	line-height: 30px;
	color: #FFF;
	height: 30px;
	width: 230px;
	padding-left: 15px;
	font-style: italic;
	font-weight: 700;
	display: block;
	background-color: #B53311;
	padding-top: 5px;
	padding-bottom: 15px;
}
.idx_4Pro .proK:hover .more {
	line-height: 25px;
	text-align: center;
	height: 35px;
	width: 245px;
	display: block;
	background-image: url(../images/bg/angle_re.gif);
	background-repeat: no-repeat;
	font-size: 12px;
	color: #FFF;
}

.bottom {
	background-image: url(../images/bg/botBg.gif);
	background-repeat: repeat-x;
	background-position: center top;
	background-color: #333;
}
.bottom .link {
	height: 34px;
	width: 866px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 11px;
	font-size: 14px;
	line-height: 34px;
	padding-left: 138px;
}
.bottom .link a {
	color: #CCC;
}
.bottom .link div {
	float: left;
}
.bottom .info {
	width: 866px;
	padding-left: 138px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/icon/botLogo.png);
	background-repeat: no-repeat;
	background-position: 25px 25px;
	padding-top: 20px;
}
.bottom .info .sm {
	width: 479px;
	height: 142px;
	overflow: hidden;
	color: #999;
	padding-right: 30px;
	line-height: 18px;
	float: left;
	margin-bottom: 30px;
}
.bottom .info .help {
	width: 150px;
	float: left;
	padding-bottom: 20px;
}
.bottom .info .help ul li {
	line-height: 20px;
	color: #CCC;
	background-image: url(../images/icon/ang_hlep.gif);
	background-repeat: no-repeat;
	background-position: 5px center;
	padding-left: 15px;
}
.bottom .info .help ul li a {
	color: #CCC;
}
.bottom .info .msgLink {
	height: 192px;
	width: 205px;
	float: left;
}
.bottom .copyright {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 40px;
	height: 40px;
	width: 1004px;
	color: #999;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
.idx_4ad a:hover {
	border:1px solid #FFF ;
}
.mainBody {
	height: 342px;
	background-position: center top;
}
.mianAd {
	height: 187px;
	width: 1002px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #000;
	font-size: 0px;
	line-height: 0px;
	padding: 0px;
}
.mianLogin,.mianLogin a {
	color: #333!important;
}
.exercise {
	height: 35px;
	width: 1004px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/bg/exerciseBg.jpg);
	overflow: hidden;
	background-repeat: repeat-x;
	background-position: left center;
}
.exerciseK {
	width:900px; height:35px;line-height:35px;overflow:hidden;padding-left: 10px; 
}
.exerciseK div {
	height: 35px;
	line-height: 35px;
}
.exerciseK div span {
	font-weight: 700;
	color: #B53311;
}
.zBody {
	width: 1004px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 7px;
}
.zBody .left {
	float: left;
	width: 240px;
	overflow: hidden;
}
.zBody .right {
	float: left;
	width: 752px;
	border: 1px solid #FFF;
	background-color: #FFF;
	background-image: url(../images/bg/mainbg.jpg);
	background-repeat: repeat-y;
	background-position: left;
	padding-left: 10px;
	margin-bottom: 15px;
	padding-bottom: 10px;
	overflow: hidden;
}
.zMenu {
	background-image: url(../images/bg/headAdBg.gif);
	width: 240px;
	padding-bottom: 10px;
	margin-bottom: 5px;
}
.zMenu span {
	height: 44px;
	width: 205px;
	line-height: 44px;
	color: #FFF;
	display: block;
	padding-left: 35px;
	font-size: 16px;
	background-image: url(../images/icon/zIcon.gif);
	background-position: 15px center;
	background-repeat: no-repeat;
}
.zMenu ul li {
	margin-bottom: 1px;
	overflow: hidden;
}
.zMenu ul li a{
	height: 30px;
	width: 205px;
	padding-left: 35px;
	line-height: 30px;
	background-color: #333;
	color: #FFF!important;
	background-image: url(../images/icon/ang_hlep.gif);
	background-repeat: no-repeat;
	background-position: 25px center;
	display: block;
}
.zMenu ul .zc a{
	height: 30px;
	width: 190px;
	padding-left: 50px;
	line-height: 30px;
	background-color: #666;
	color: #FFF;
	background-image: url(../images/icon/ang_hlep.gif);
	background-repeat: no-repeat;
	background-position: 35px center;
	display: block;
}
.zMenu ul li a:hover,.zMenu ul li .re{
	background-color: #B53311;
	}
.zBody .left .zAd {
	height: 100px;
	width: 240px;
	display: block;
	margin-bottom: 8px;
	overflow: hidden;
}
.LinkAbt {
	height: 440px;
	width: 240px;
}
.LinkAbt .rgt {
	background-color: #B53311;
	height: 380px;
	width: 6px;
	display: block;
	background-image: url(../images/icon/ang_2.gif);
	background-position: bottom;
	background-repeat: no-repeat;
	float: right;
}
.LinkAbt .lft {
	width: 232px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #B53311;
	border-left-color: #B53311;
	float: left;
	background-color: #FFF;
}
.LinkAbt .lft .ttl {
	height: 44px;
	width: 197px;
	line-height: 44px;
	color: #FFF;
	display: block;
	padding-left: 35px;
	font-size: 16px;
	background-image:
url(../images/icon/zIcon2.gif);
	background-repeat: no-repeat;
	background-position: 15px center;
	background-color: #B53311;
}.LinkAbt .lft .about {
	padding-top: 15px;
	padding-right: 10px;
	padding-left: 20px;
}
.LinkAbt .lft .about h4 {
	font-family: Arial, "宋体";
	font-size: 12px;
	color: #666;
	line-height: 24px;
	font-weight: normal;
}
.LinkAbt .lft .about h3 {
	font-size: 16px;
	line-height: 28px;
}
.left .LinkAbt .bt {
	background-image: url(../images/bg/abtBg.gif);
	height: 37px;
	width: 234px;
	float: left;
}
.crumbs {
	font-size: 12px;
	line-height: 25px;
	height: 25px;
}
.crumbs a {
	line-height: 25px;
	display: block;
	float: left;
	height: 25px;
	padding-left: 18px;
	background-image: url(../images/bg/ang.gif);
	background-position: 5px center;
	background-repeat: no-repeat;
	padding-right: 10px;
}
.zBody .right .ad {
	margin-top: 10px;
	margin-bottom: 10px;
	height: 130px;
	width: 740px;
	overflow: hidden;
	box-shadow:1px 1px 5px rgba(0,0,0,.2);
}
.right .ProK .ttl {
	line-height: 40px;
	height: 40px;
	padding-left: 30px;
	font-size: 16px;
	background-image: url(../images/icon/icon_01.gif);
	background-repeat: no-repeat;
	background-position: 6px center;
}
.right .ProK .ttl .more {
	font-size: 14px;
	line-height: 40px;
	background-image: url(../images/icon/icon_02.gif);
	background-repeat: no-repeat;
	display: block;
	float: right;
	height: 40px;
	width: 35px;
	padding-left: 15px;
	background-position: 0px center;
	margin-right: 10px;
}
.zBody .right .ProK .ttl .txt {
	display: block;
	float: left;
}
.proLi ul li {
	float: left;
	height: 380px;
	width: 246px;
	display: block;
}
.proLi ul li .Img {
	border: 3px solid #F3F3F3;
	display: block;
}
.proLi ul li .Nm {
	font-size: 15px;
	line-height: 35px;
	height: 35px;
	width: 220px;
	padding-left: 15px;
	overflow: hidden;
	display: block;
	font-family: "微软雅黑", "黑体", "宋体";
	color: #000;
	font-weight: 700;
	padding-right: 10px;
}
.proLi ul li .Ex {
	font-size: 12px;
	line-height: 21px;
	height: 42px;
	width: 220px;
	padding-left: 15px;
	display: block;
	overflow: hidden;
	padding-right: 10px;
}
.proLi ul li .Prc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 26px;
	line-height: 30px;
	color: #B53311;
	height: 30px;
	width: 230px;
	padding-left: 15px;
	font-style: italic;
	font-weight: 700;
	display: block;
	padding-top: 5px;
	padding-bottom: 15px;
}
.twill {
	background-image: url(../images/icon/twill.gif);
	height: 18px;
	margin-top: 5px;
	margin-bottom: 5px;
	clear: both;
}
.zProLi ul li {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #999;
	padding-top: 15px;
	padding-bottom: 15px;
}
.zProLi ul li .img a {
	height: 150px;
	width: 150px;
	border: 3px solid #F3F3F3;
	display: block;
}
.zProLi ul li .img {
	float: left;
	height: 156px;
	width: 156px;
	margin-right: 15px;
}
.zProLi ul li .rgt {
	float: left;
	width: 570px;
}
.zProLi ul li .rgt .Nm {
	font-size: 15px;
	line-height: 35px;
	height: 35px;
	width: auto;
	padding-left: 15px;
	overflow: hidden;
	display: block;
	font-family: "微软雅黑", "黑体", "宋体";
	color: #000;
	font-weight: 700;
	padding-right: 10px;
}
.zProLi ul li .rgt .Ex {
	font-size: 12px;
	line-height: 21px;
	height: 42px;
	width: auto;
	padding-left: 15px;
	display: block;
	overflow: hidden;
	padding-right: 10px;
}
.zProLi ul li .rgt .Prc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 26px;
	line-height: 30px;
	color: #B53311;
	height: 30px;
	width: auto;
	padding-left: 15px;
	font-style: italic;
	font-weight: 700;
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
}
.zProLi ul li .rgt ul li {
	float: left;
	height: 24px;
	width: 270px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-bottom: 1px;
	line-height: 24px;
	text-align: right;
	padding-bottom: 0px;
	margin-top: 0px;
	padding-top: 0px;
	padding-left: 15px;
}
.par {
	height: 24px;
	width: 80px;
	display: block;
	background-image: url(../images/bg/parBg.gif);
	background-repeat: no-repeat;
	padding-right: 20px;
	float: left;
	line-height: 24px;
	text-align: right;
}
.value {
	display: block;
	float: left;
	height: 24px;
	width: 140px;
	background-image: url(../images/bg/parBg2.jpg);
	text-align: left;
	padding-left: 15px;
	background-repeat: repeat-y;
	background-position: left;
	line-height: 24px;
}
.turning {
	line-height: 35px;
	height: 35px;
	text-align: center;
	background-image: url(../images/bg/turningBg.jpg);
	background-repeat: no-repeat;
	background-position: center 21px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.turning .PageUP {

}
.turning a {
	vertical-align: middle;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-right: 5px;
	margin-left: 5px;
	color: #666;
}
.turning a img {
	vertical-align: middle;
}
.turning .this {
	background-image: url(../images/bg/thisBg.gif);
	background-repeat: no-repeat;
	height: 35px;
	width: auto;
	margin-right: 5px;
	margin-left: 5px;
	background-position: left top;
	display: inline-block;
	color: #FFF;
	padding-left: 6px;
}
.turning .this a {
	display: inline-block;
	height: 35px;
	width: auto;
	background-image: url(../images/bg/thisBg2.gif);
	background-repeat: no-repeat;
	background-position: right top;
	padding-right: 10px;
	color: #FFF;
}
.zBodyK {
	width: 1002px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #FFF;
	background-image: url(../images/bg/kTtlBg.jpg);
	background-repeat: repeat-x;
	background-position: top;
	background-color: #FFF;
	margin-bottom: 10px;
}
.zBodyK .kTtl {
	font-family: "微软雅黑", "黑体", "宋体";
	font-size: 16px;
	line-height: 66px;
	color: #333;
	height: 66px;
	background-image: url(../images/bg/kTtlIcon.gif);
	background-repeat: no-repeat;
	background-position: 25px center;
	padding-left: 50px;
}
.area {
	line-height: 35px;
	background-image: url(../images/bg/areaBg.jpg);
	background-repeat: repeat-x;
	background-position: top;
	height: 35px;
	padding-left: 30px;
	margin-top: 20px;
}
.area ul li {
	float: left;
	padding-right: 8px;
	padding-left: 8px;
	display: inline-block;
	text-align: center;
	width: 85px;
	height: 35px;
	cursor: pointer;
}
.area ul .re {
	background-image: url(../images/bg/areaBtBg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	font-weight: 700;
	line-height: 35px;
}
.areaAbc {
	line-height: 28px;
	height: 28px;
	padding-left: 55px;
	margin-top: 25px;
	margin-bottom: 25px;
	background-image: url(../images/bg/areaAbcPoint.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}
.areaAbc ul li {
	float: left;
	height: 28px;
	padding-right: 10px;
	padding-left: 10px;
	display: block;
	margin-right: 2px;
	cursor: pointer;
}
.areaAbc ul .re {
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #DCDCDE;
	border-right-color: #DCDCDE;
	border-left-color: #DCDCDE;
	background-color: #FFF;
	font-weight: 700;
	height: 27px;
}
.brand {
	padding-right: 30px;
	padding-left: 30px;
}
.brand ul li {
	height: 112px;
	width: 180px;
	float: left;
	border: 1px solid #DCDCDE;
	background-color: #676767;
	margin-right: 25px;
	margin-left: 25px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.brand ul li .brandName {
	color: #FFF;
	height: 21px;
	width: 180px;
	text-align: center;
	overflow: hidden;
	display: block;
	line-height: 22px;
}
.brand ul li .brandImg {
	height: 90px;
	width: 180px;
	display: block;
	overflow: hidden;
}
.brand ul li:hover {
	background-color: #B53311;
	box-shadow:1px 1px 5px rgba(0,0,0,.2);
}
.Kcru {
	width: 1004px;
	margin-right: auto;
	margin-left: auto;
}
.cgeBrand {
	height: 115px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #EBEBEB;
	border-bottom-color: #EBEBEB;
	background-image: url(../images/bg/cgebrandBg.jpg);
	background-repeat: repeat-y;
	background-position: top;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.cgeBrand .brand {
	float: left;
	height: 112px;
	width: 180px;
	padding: 0px;
	border: 1px solid #DCDCDE;
	background-color: #B53311;
}
.cgeBrand .brand .brandImg {
	height: 90px;
	width: 180px;
	display: inline-block;
	overflow: hidden;
}
.cgeBrand .brand .brandName {
	line-height: 22px;
	color: #FFF;
	text-align: center;
	height: 22px;
	display: inline-block;
	width: 180px;
}
.brandInfo {
	float: left;
	height: 115px;
	width: 720px;
	padding-left: 30px;
}
.brandInfo h1 {
	font-size: 16px;
	width: 720px;
	display: block;
	line-height: 28px;
	overflow: hidden;
}
.brandInfo span {
	font-size: 12px;
	line-height: 18px;
	display: block;
	height: 72px;
	overflow: auto;
	width: 90%;
}
.zbrand .ttl {
	height: 35px;
	padding-top: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E8E8E8;
}
.zbrand .ttl span {
	text-align: center;
	display: block;
	height: 35px;
	float: left;
	line-height: 35px;
}
.zbrand .ttl .img {
	width: 220px;
}
.zbrand .ttl .tyle {
	width: 240px;
}
.zbrand .ttl .date {
	width: 200px;
}
.zbrand .ttl .proNm {
	width: 200px;
}
.zbrand .ttl .view {
	width: 120px;
}
.zbrand ul li {
	height: 90px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E8E8E8;
	background-color: #F8F8F8;
	padding-top: 10px;
	padding-bottom: 10px;
}
.zbrand ul li span {
	display: inline-block;
	float: left;
	height: 90px;
	line-height: 90px;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
}
.zbrand ul li .img {
	border: 1px solid #E8E8E8;
	width: 180px;
	margin-right: 20px;
	margin-left: 20px;
}
.zbrand ul li .tyle {
	width: 240px;
}
.zbrand ul li .date {
	width: 200px;
}
.zbrand ul li .proNm {
	width: 200px;
}
.zbrand ul li .view {
	width: 120px;
}
.btSubmit {
	font-size: 12px;
	line-height: 32px;
	background-image: url(../images/bg/btbg.jpg);
	background-repeat: repeat-x;
	background-position: bottom;
	text-align: center;
	padding-right: 10px;
	border: 1px solid #D2D2D2;
	height: 32px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	display: inline-block;

}
.angBrand {
	background-image: url(../images/icon/angbrand.gif);
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	height: 112px;
	width: 22px;
	margin-right: 30px;
	margin-left: 30px;
}
.zbrand .zttl {
	line-height: 28px;
	color: #FFF;
	padding-left: 50px;
	height: 28px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #E2E2E2;
	border-bottom-color: #E2E2E2;
	background-color: #8A8A8A;
	background-image: url(../images/icon/icon_03.gif);
	background-position: 24px center;
	background-repeat: no-repeat;
	font-size: 14px;
	font-weight: 700;
}
.zbrand .pro li {
	padding-top: 25px;
	padding-bottom: 25px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #999;
	background-image: none;
	height: auto;
	background-color: #FFF;
	padding-left: 15px;
}
.zbrand .pro li .img {
	height: 150px;
	width: 150px;
	border: 1px solid #DCDCDE;
	display: block;
	float: left;
	margin-right: 30px;
	vertical-align: bottom;
}
.zbrand .pro li .rgt {
	float: left;
	width: 600px;
}
.zbrand .pro li .rgt .Nm {
	font-size: 16px;
	line-height: 32px;
	color: #333;
	height: 32px;
	overflow: hidden;
	font-weight: 700;
	width: 600px;
}
.zbrand .pro li .rgt .Ex {
	line-height: 21px;
	overflow: hidden;
	color: #666;
	width: 600px;
	white-space: normal;
	text-align: left;
	display: block;
	height: auto;
}
.zbrand .pro li .rgt .Prc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 26px;
	line-height: 30px;
	color: #B53311;
	height: 30px;
	font-style: italic;
	font-weight: 700;
	padding-top: 8px;
	padding-bottom: 8px;
	width: 600px;
	text-align: left;
}
.zbrand .pro li .rgt ul li {
	height: 24px;
	float: left;
	line-height: 24px;
	width: 300px;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 1px;
	margin-left: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.zbrand .pro li .rgt ul li .par {
	height: 24px;
	line-height: 24px;
	text-align: right;

}
.zbrand .pro li .rgt ul li .value {
	height: 24px;
	line-height: 24px;
	text-align: left;
}
.zbrand .pro li .link {
	float: left;
	width: 130px;
	padding-top: 20px;
	padding-left: 20px;
}
.zbrand .pro li .link a {
	float: left;
	display: block;
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
}
.buyBg {
	background-image: url(../images/bg/bugBg.jpg);
	background-repeat: repeat-x;
	background-position: left bottom;
	background-color: #E87D61;
	font-weight: 700;
	color: #FFF!important;
	border: 1px solid #B53311;
}
.buyFlow {
	line-height: 36px;
	height: 36px;
	padding-left: 35px;
	text-align: center;
	background-image: url(../images/bg/flow.gif);
	background-repeat: no-repeat;
	background-position: 35px 0px;
	font-size: 14px;
}
.buyFlow div {
	height: 36px;
	width: 160px;
	display: block;
	float: left;
	text-align: center;
	padding-right: 14px;
}
.buy1 {
	background-position: 35px 0px;
}
.buy2 {
	background-position: 35px -36px;
}
.buy3 {
	background-position: 35px -72px;
}
.buy4 {
	background-position: 35px -108px;
}

.buy1 .za,.buy2 .zb,.buy3 .zc,.buy4 .zd{
	background-position: 35px 0px;
	font-weight: 700;
	color: #FFF;
}
.seleH{
	width:1002px
	}
.salesK {
	float: left;
	height: 26px;
	line-height: 26px;
	color: #333;
	border: 2px solid #B53311;
	display: inline;
	margin-left: 35px;
	padding-right: 20px;
	padding-left: 10px;
	background-color: #FFFFCC;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 14px;
	box-shadow:1px 1px 3px rgba(0,0,0,.3);
}
.salesK2 {
	float: left;
	height: 26px;
	line-height: 26px;
	color: #333;
	border: 1px solid #CCC;
	display: inline;
	margin-left: 35px;
	padding-right: 20px;
	padding-left: 10px;
	background-color: #FAFAFA;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 14px;
	box-shadow:2px 2px 0px rgba(0,0,0,.2);
}
.salesK span,.salesK2 span {
	color: #B53311;
}
.newsLi .Img {
	display: inline;
	float: left;
	height: 180px;
	width: 180px;
	margin-right: 20px;
	border: 1px solid #666;
}
.newsLi .Ttl {
	font-size: 16px;
	line-height: 32px;
	padding-bottom: 5px;
	font-weight: 700;
}
.newsLi .span {
	line-height: 20px;
	overflow: hidden;
	font-size: 14px;
	color: #666;
	margin-bottom: 10px;
}
.newsLi ul li {
	padding-top: 15px;
	padding-bottom: 15px;
	width: 710px;
	padding-left: 20px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #999;
	padding-right: 20px;
}
.hgt120 {
	height: 120px;
}
.newsLi ul li .more{
	font-size: 14px;
	text-align: right;
}
.newsLi ul li .more a{
	color: #333;
}
.newDyTtl {
	font-size: 16px;
	line-height: 60px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	width: 700px;
	margin-right: auto;
	margin-left: auto;
	font-weight: 700;
	margin-top: 20px;
}
.newDyInfo {
	width: 700px;
	margin-right: auto;
	margin-left: auto;
	line-height: 30px;
	color: #FFF;
	background-color: #B53311;
	text-align: center;
	height: 30px;
}
.newDycont {
	width: 650px;
	padding-right: 25px;
	padding-left: 25px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	line-height: 18px;
	margin-bottom: 20px;
}
.newDycont img {
	margin: 15px;
}
.newDyRele {
	width: 660px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #333;
	margin-bottom: 20px;
}
.newDyRele span {
	line-height: 30px;
	background-color: #333;
	height: 30px;
	display: block;
	padding-left: 10px;
	color: #FFF;
}
.newDyRele ul li {
	height: 24px;
	width: 290px;
	float: left;
	line-height: 24px;
	background-image: url(../images/icon/ang_hlep2.gif);
	background-repeat: no-repeat;
	background-position: 18px center;
	padding-left: 30px;
	display: block;
	overflow: hidden;
	margin-right: 10px;
	margin-top: 8px;
	margin-bottom: 8px;
}
.vStyle {
	/* [disabled]width: 980px; */
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.vStyle ul li {
	width: 95%;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EEE;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
}
.vStyle ul li .img {
	float: left;
	height: 80px;
	width: 160px;
	margin-right: 20px;
}
.vStyle ul li .img a {
	height: 60px;
	width: 120px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	box-shadow:none;
}
.vStyle ul li .img .name {
	margin-right: 0px;
	margin-left: 0px;
	line-height: 20px;
	height: 20px;
	width: 160px;
	text-align: center;
}
.vStyle ul li .cont {
	float: left;
	width: 700px;
	padding-right: 10px;
	padding-left: 10px;
}
.vStyle ul li .cont a {
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	display: block;
	float: left;
	background-color: #EFEFEF;
	color: #333;
	white-space: nowrap;
	margin-right: 15px;
	margin-bottom: 10px;
}
.vStyle ul li .uImg {
	height: 100px;
	width: 100px;
	float: left;
	margin-right: 20px;
	border: 1px solid #CCC;
	margin-top: 42px;
	box-shadow:1px 1px 3px rgba(0,0,0,.2);
}
.vStyle ul li .name {
	line-height: 42px;
	height: 42px;
	font-weight: 700;
	color: #333;
	float: left;
	width: 85%;
}
.vStyle ul li .info {
	font-size: 14px;
	line-height: 20px;
	float: left;
	width: 85%;
}
.overflow {
	height: 320px;
	overflow: auto;
}
.vStyle ul li .name span {
	font-family: Arial, Helvetica, sans-serif;
	color: #999;
	font-weight: 700;
	margin-left: 20px;
}
.vStyle ul li .Img {
	display: block;
	height: 150px;
	width: 150px;
	border: 1px solid #666;
	margin-right: auto;
	margin-left: auto;
}
.vStyle ul li .Nm {
	font-size: 14px;
	line-height: 32px;
	color: #333;
	height: 32px;
	width: 150px;
	display: block;
	overflow: hidden;
	text-align: center;
	font-weight: 700;
	margin-right: auto;
	margin-left: auto;
}
.vStyle ul li .Ex {
	line-height: 18px;
	color: #999;
	height: 36px;
	width: 150px;
	overflow: hidden;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.vStyle ul li .Prc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #B53311;
	height: 24px;
	width: 150px;
	font-style: italic;
	font-weight: 700;
	display: block;
	padding-top: 5px;
	margin-right: auto;
	margin-left: auto;
}
.relaProLi {
	float: left!important;
	border-top-style: none!important;
	border-right-style: none!important;
	border-bottom-style: none!important;
	border-left-style: none!important;
	display: block!important;
	width: 200px!important;
}
.proInfo .left {
	float: left;
	height: 556px;
	width: 572px;
}
.proInfo .right {
	float: left;
	width: 430px;
}
.proInfo .left .ttl {
	line-height: 79px;
	height: 79px;
	font-size: 14px;
	padding-left: 140px;
	margin-left:0px;
}
.proInfo .left .ttl li {
	display: block;
	height: 79px;
	padding-right: 20px;
	padding-left: 20px;
	float: left;
	box-shadow:none;
	white-space: nowrap;
	cursor: pointer;
}
proPgMouseout{
	background-image:none;
	}
.proPgMouseon {
	background-image: url(../images/icon/ang_hlep4.gif);
	background-repeat: no-repeat;
	background-position: center 55px;
	font-weight: 700;
}
.proInfo .right .hotSale {
	height: 79px;
	width: 430px;
}
.proInfo .right .cont {
	padding-right: 20px;
	padding-left: 10px;
}
.proInfo .right .cont .name {
	font-size: 18px;
	font-weight: 700;
	color: #333;
	overflow: hidden;
	font-family: "微软雅黑", "黑体", "宋体";
}
.proInfo .right .cont .info {
	font-size: 14px;
	line-height: 20px;
	color: #666;
	margin-top: 10px;
	font-family: Arial, "宋体";
}
.proInfo .right .cont ul {
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
	color: #666;
	line-height: 20px;
}
.proInfo .right .cont .pice {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 26px;
	line-height: 36px;
	color: #B53311;
	height: 36px;
	font-style: italic;
	font-weight: 700;
	display: block;
}
.proInfo .right .cont .Nm {
	font-size: 14px;
	line-height: 32px;
	color: #666;
	height: 32px;
	margin-top: 10px;
}
.proInfo .right .cont .Nm form input {
	width: 40px;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	border: 1px solid #CCC;
}
.proInfo .right .cont .sub {
	margin-top: 20px;
	height: 28px;
}
.proInfo .right .cont .sub a {
	vertical-align: middle;
	margin-right: 20px;
	line-height: 28px;
	display: block;
	height: 28px;
	float: left;
	background-repeat: no-repeat;
	padding-left: 20px;
	background-position: 0px center;
}
.proInfo .right .cont .sub .sc {
	background-image: url(../images/icon/i01.gif);
	box-shadow:none;
}
.proInfo .right .cont .sub .zx {
	background-image: url(../images/icon/i02.gif);
	box-shadow:none;
}

table thead {
	line-height: 35px;
	background-image: url(../images/bg/areaBg.jpg);
	background-repeat: repeat-x;
	background-position: bottom;
	height: 35px;
}
.buyB tbody td,.buyB thead td,.buyB tfoot td {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F4F4F4;
	text-align: center;
	padding: 5px;
}
.buyB {
	margin-top: 20px;
}
.FavBg {
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	background-color: #F5F5F5;
	font-family: Arial, "宋体";
	display: block;
	margin-bottom: 5px;
	border: 1px solid #CCC;
	width: 70%;
}
.buyB .add a{
	background-image: url(../images/icon/add.gif);
	background-repeat: no-repeat;
	text-indent: -999em;
	display: inline-block;
	height: 11px;
	width: 11px;
	overflow: hidden;
}
.buyB .add .b{
	background-position: -11px 0px;
}
.subtotal {
	line-height: 40px;
	text-align: right;
	height: 40px;
	width: 900px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #DCDFE5;
	padding-right: 20px;
	padding-left: 20px;
	font-family: Arial, "宋体";
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.subtotal span {
	margin-right: 10px;
	font-weight: 700;
}
.subtotalSub {
	width: 95%;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	text-align: right;
	margin-bottom: 20px;
}
.subtotalSub a {
	margin-right: 20px;
}
.searchK .searchInput .cnt input {
	vertical-align: middle;
}
.boxShadow {
	box-shadow:1px 1px 5px rgba(0,0,0,.2);
}
.zBodyK * a:hover,.zBodyK * .img:hover{
	box-shadow:1px 1px 5px rgba(0,0,0,.2);
}
.head .menu ul li:hover {
	background-color: #000;
}
.head .menu ul li:hover .icon01{
	background-position: -0px -50px;
}
.head .menu ul li:hover .icon02{
	background-position: -85px -50px;
}
.head .menu ul li:hover .icon03{
	background-position: -170px -50px;
}

.head .menu ul li:hover .icon04{
	background-position: -255px -50px;
}
.head .menu ul li:hover .icon05{
	background-position: -340px -50px;
}

.head .menu ul li:hover .icon06{
	background-position: -425px -50px;
}
.proInfo .right .cont .Nm  a{
	background-image: url(../images/icon/add.gif);
	background-repeat: no-repeat;
	text-indent: -999em;
	display: inline-block;
	height: 11px;
	width: 11px;
	overflow: hidden;
}
.proInfo .right .cont .Nm  .b{
	background-position: -11px 0px;
}.cont01 .t2 a {
	border: 1px solid #AEAEAE;
}
.cont02 .testInfo {
	font-size: 14px;
	line-height: 24px;
	padding-right: 15px;
	padding-left: 15px;
	margin-bottom: 10px;
}
.cont03 .testInfo {
	font-size: 14px;
	line-height: 24px;
	padding-right: 15px;
	padding-left: 15px;
	margin-bottom: 10px;
}
.cont03 ul li {
	margin-bottom: 5px;
	display: block;
	float: left;
}
.cont03 ul {
	padding-left: 10px;
}
.ggColor ul li{
	height: 50px;
	width: 50px;
	border: 2px solid #E8E8E8;
	float: left;
	margin-right: 10px;
	display: block;
	margin-bottom: 5px;
	cursor:pointer;
}
.ggColor ul li img{vertical-align:bottom;}
.ggGg ul li{
	height: 18px;
	border: 2px solid #E8E8E8;
	float: left;
	margin-right: 10px;
	display: block;
	margin-bottom: 5px;
	font-size: 12px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	background-color: #EFEFEF;
	cursor:pointer;
	line-height: 18px;
}
.ggGg ul li:hover,.ggColor ul li:hover{box-shadow:1px 1px 5px rgba(0,0,0,.2);}
.ggColor ul .re,.ggGg ul .re{
	border: 2px solid #B53311;
	box-shadow:2px 2px 3px 1px rgba(0,0,0,.2) inset;
}
.ggText {
	font-size: 14px;
	line-height: 25px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EBEBEB;
	height: 25px;
}
.relaProLi .select {
	line-height: 25px;
	vertical-align: middle;
	font-size: 14px;
	background-color: #F5F5F5;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.Prc span {
	color: #666;
	font-size: 14px;
}
.iconMj {
	display: block;
	height: 47px;
	width: 47px;
	text-indent: -999em;
	float: right;
	background-image: url(../images/icon/mz.gif);
	background-repeat: no-repeat;
	overflow: hidden;
	position: absolute;
}
.iconHg{
	display: block;
	height: 47px;
	width: 47px;
	text-indent: -999em;
	float: right;
	background-image: url(../images/icon/mz.gif);
	background-repeat: no-repeat;
	overflow: hidden;
	position: absolute;
	background-position: -47px 0px;
}
.selected{
	display: block;
	height: 37px;
	width: 37px;
	text-indent: -999em;
	background-image: url(../images/icon/selected.png);
	background-repeat: no-repeat;
	overflow: hidden;
	position: absolute;
	margin-top: 110px;
	margin-left: 110px;
	_background-image: url(../images/icon/selected.gif);
}
.psBg {
	background-image:none!important;
	background-color: #F9F9F9!important;
}
.alignLeft {
	text-align: left;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}
.alignLeft a {
	color: #FFF!important;
	background-color: #B53311!important;
	font-size: 14px!important;
	line-height: 25px!important;
	display: block!important;
	height: 25px!important;
	padding-top: 2px!important;
	padding-right: 5px!important;
	padding-bottom: 2px!important;
	padding-left: 5px!important;
	width: auto!important;
	float: left;
}
.payWay {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}
.payWay li {
	display: block;
	float: left;
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;
	background-color: #FAFAFA;
	margin-right: 20px;
	font-size: 14px;
	border: 1px solid #E6E6E6;
}
.payWay textarea {
	font-size: 12px;
	line-height: 20px;
	height: 100px;
	width: 600px;
	margin-bottom: 5px;
	box-shadow:2px 2px 5px 1px rgba(0,0,0,.6) inset;
	padding: 5px;
}
.ts {
	padding-left: 40px;
	font-size: 14px;
	line-height: 35px;
	background-color: #CCC;
	height: 35px;
	font-weight: 700;
	color: #333;
	/*width: 962px;*/
}
.statistics {
	margin-right: auto;
	margin-left: auto;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCC;
	padding-left: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-right: 30px;
	font-size: 14px;
	line-height: 22px;
}
.statistics .ttl {
	line-height: 42px;
	text-align: right;
}
.statistics .z {
	text-align: right;
}
.fontSize25 {
	font-size: 22px;
	font-style: italic;
	font-weight: 700;
	font-family: "微软雅黑", "黑体", "宋体";
	line-height: 35px;
}
.fontSize12 {
	font-size: 12px!important;
}
.fontSize14 {
	font-size: 14px;
	font-weight: 700;
	font-family: "微软雅黑", "黑体", "宋体";
}
.fontSize18 {
	font-size: 18px;
	font-weight: 700;
	font-family: "微软雅黑", "黑体", "宋体";
}
.textAlignLeft {
	text-align: left!important;
}
.fBold {
	font-weight: 700;
}
.bank {
	height: 50px;
	width: 100px;
	display: block;
	float: left;
	margin-right: 20px;
	border: 1px solid #CCC;
}
.borderRed{
	border: 2px solid #B53311;
	}
.userBg {
	background-image: url(../images/bg/userBg.jpg);
	
	background-position: right top;
	background-color: #FFF;
	background-repeat: repeat-y;
}
.userBg span{
	color: #333!important;
	height: 44px;
	width: 205px;
	line-height: 44px;
	color: #FFF;
	display: block;
	padding-left: 35px;
	font-size: 16px;
	background-image: url(../images/bg/userIcon.gif)!important;
	background-position: 15px center;
	background-repeat: no-repeat;
	}
.uK .uTtl {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 35px;
	height: 35px;
}
.uK {
	padding-right: 30px;
	padding-left: 30px;
}
.ucentK {
	border: 1px solid #CCC;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
	margin-bottom: 20px;
	background-color: #FFF;
}
.ucentK .money {
	font-size: 12px;
	line-height: 32px;
	height: 32px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
}
.ucentK .lft {
	height: 150px;
	width: 320px;
	border-right-width: 1px;
	border-right-style: dotted;
	border-right-color: #CCC;
	float: left;
}
.ucentK .rgt {
	float: left;
	height: 150px;
	width: 210px;
}
.ucentK li {
	font-size: 12px;
	line-height: 35px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
	padding-left: 10px;
	background-color: #FFF;
}
.ucentK ul li span {
	margin-right: 4px;
	margin-left: 4px;
}
.userTable {
	text-align: center;
}
.userTable thead{
	background-image:none!important;
}
.userTable td .a{
	line-height: 22px;
	height: 22px;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	margin-bottom: 5px;
}
.userTable td{
	padding:10px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
}
.bgClrRed {
	background-color: #B53311;
	color: #FFF!important;
}
.viewAll {
	float: right;
	margin-right: 10px;
}
.cantChg {
	border: 1px dashed #ccc!important;
	cursor: no-drop!important;
	filter:alpha(opacity=40);  
	-moz-opacity:0.4;  
	-khtml-opacity: 0.4;  
	opacity: 0.4;  
}
.brand .uLeft {
	width: 500px;
	float: left;
	height: 300px;
}
.brand .uRight {
	float: left;
	width: 340px;
	border: 1px solid #CACACA;
	display: inline-block;
	margin-left: 35px;
	padding: 20px;
	border-radius:3px;
	box-shadow:1px 1px 5px rgba(0,0,0,.2);
	background-color: #F6F6F6;
	font-size: 12px!important;
	box-shadow:1px 1px 5px rgba(0,0,0,.2);
}
.brand .uRight div {
	line-height: 25px;
	margin-bottom: 5px;
}
.brand .uRight div .input {
	width: 120px;
	padding: 2px;
}
.bottomDn30 {
	margin-bottom: 30px;
}
.newuserTable {
	font-size: 14px;
	line-height: 32px;
	margin-top: 30px;
}
.safety {
	font-size: 12px;
	line-height: 18px;
	color: #666;
}
.safety .safetyK {
	display: block;
	float: left;
}
.safety .box {
	color: #666;
	background-color: #CCC;
	float: left;
	height: 18px;
	width: 30px;
	display: block;
	text-align: center;
	margin-right: 5px;
}
.low {
	color: #FFF!important;
	background-color: #F30!important;
}
.zmid {
	color: #FFF!important;
	background-color: #F90!important;
}
.high {
	color: #FFF!important;
	background-color: #339900!important;
}
.regTextarea {
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	font-size: 12px;
	line-height: 18px;
	padding: 5px;
	color: #666;
	overflow: auto;
	height: 200px;
	margin-bottom: 10px;
	border: 1px solid #CCC;
	box-shadow:1px 1px 5px rgba(0,0,0,.2);
}
.userIcon {
	padding: 5px;
	float: left;
	height: 100px;
	width: 100px;
	border: 1px solid #CCC;
	margin-right: 10px;
	margin-top: 10px;
}
.disBlock {
	display: block;
}
.orderFlow li {
	float: left;
	width: 86px;
}
.orderFlow li div {
	color: #666;
}.uK table td {
	line-height: 24px;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
}
.ps_Li {
	font-size: 14px;
	line-height: 24px;
	float: left;
	margin-right: 20px;
	margin-bottom: 8px;
	white-space: nowrap;
	display: block;
}
.fenye {
	font-size: 14px;
	margin-top: 10px;
}
.fenye a {
	padding-right: 10px;
	padding-left: 10px;
	float: right;
	height: 22px;
	display: block;
	border: 1px solid #CCC;
	line-height: 22px;
	margin-right: 10px;
	background-color: #F6F6F6;
}
.fenye a:hover {
	color: #FFF;
	background-color: #B53311;
}
.flow6K ul li {
	float: left;
	width: 70px;
	margin-right: 7px;
	display: block;
	line-height: 20px;
	border: 1px dashed #CCC;
	padding: 3px;
	font-family: Arial, "宋体";
	background-color: #F2F2F2;
	color: #333;
}
.flow6K .over {
	color: #FFF;
	background-color: #B53311;
	display: block;
	border: 1px solid #92280E;
}
.flow6K_k {
	background-image: url(../images/icon/twill.gif);
	height: 18px;
	margin-bottom: 10px;
	margin-top: 3px;
}
.flow6K_k .over{
	background-image: url(../images/icon/twill2.gif);
	height: 18px;
}
.flow6K_k .over span {
	background-image: url(../images/icon/overAng.gif);
	background-repeat: no-repeat;
	height: 19px;
	width: 78px;
	display: block;
	float: right;
}
.bt_pay {
	line-height: 20px;
	color: #FFF;
	background-color: #FFF;
	display: block;
	float: right;
	height: 20px;
	padding-right: 5px;
	padding-left: 5px;
	border: 1px solid #CCC;
	margin-top: 4px;
}
.proImgSml {
	float: left;
	height: 50px;
	width: 50px;
	margin-right: 10px;
	margin-bottom: 5px;
}
.userIcon .modi {
	line-height: 20px;
	height: 20px;
	border: 1px solid #CCC;
	display: block;
	margin-top: 13px;
	position: absolute;
	width: 104px;
	text-align: center;
}
.mem_box {
	width: 650px;
	margin-right: auto;
	margin-left: auto;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
	border: 1px dashed #999;
	background-color: #FFFFDF;
	font-size: 12px;
	font-family: Arial, "宋体";
}
.mem_box .mem_data01 {
	width: 100px;
	display: table-row;
	float: left;
	text-align: right;
	line-height: 32px;
	height: 32px;
}
.mem_box .mem_data02 {
	float: left;
	width: 500px;
	display: table-row;
	line-height: 32px;
	height: 32px;
}
.mem_box div ul li {
	line-height: 32px;
}
#menuK li .nothing {
	font-size: 14px;
	line-height: 32px;
	text-align: center;
	background-color: #F5F5F5;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}
.reference .quiz {
	background-image: url(../images/bg/kTtlBg.jpg);
	background-repeat: repeat-x;
	border: 1px solid #ABABAB;
	background-position: center top;
	background-color: #FFF;
	border-radius:10px;
	box-shadow:1px 1px 5px rgba(0,0,0,.2);
}
.reference .quiz .icon {
	float: left;
	height: 85px;
	width: 113px;
	background-image: url(../images/icon/refIcon1.gif);
	background-repeat: no-repeat;
	background-position: center center;
	margin-top: 10px;
}
.reference .answer .icon {
	float: left;
	height: 85px;
	width: 113px;
	background-image: url(../images/icon/refIcon2.gif);
	background-repeat: no-repeat;
	background-position: center center;
	margin-top: 10px;
}
.reference .cont {
	float: left;
	width: 550px;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 20px;
	padding-left: 15px;
}
.reference {
	color: #333!important;
	font-family: Arial, "宋体"!important;
	line-height: 20px!important;
	margin-bottom: 20px;
}
.reference .quiz .time {
	line-height: 32px;
	float: left;
	width: 550px;
	padding-left: 15px;
	color: #666;
	padding-top: 10px;
	font-size: 12px;
	text-align: right;
	padding-right: 20px;
}
.subQuiz {
	padding-right: 20px;
	padding-left: 20px;
	margin-top: 20px;
	padding-top: 10px;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #999;
}
.inpK {
	padding: 10px;
	background-color: #FFF;
	box-shadow:2px 2px 5px 1px rgba(0,0,0,.2) inset;
	line-height: 18px;
	height: 90px;
	width: 430px;
	border: 1px solid #333;
	font-size: 12px;
	color: #333;
	float: left;
	display: block;
	margin-right: 15px;
}
.subQuiz .cont {
	padding-left: 25px;
	margin-top: 10px;uImg
}
.ConsSub {
	background-image: url(../images/icon/consIcon.gif);
	background-repeat: no-repeat;
	text-indent: -999em;
	display: block;
	height: 91px;
	width: 240px;
	margin-bottom: 10px;
	overflow: hidden;
}
.subQuiz .cont .rgt {
	float: left;
	width: 200px;
	font-size: 12px;
	line-height: 32px;
}
.adText {
	padding: 8px;
	border: 2px solid #b53311;
	margin-top: 10px;
	background-color: #fff4d7;
	font-size: 14px;
	line-height: 22px;
	box-shadow:1px 1px 5px rgba(0,0,0,.2);
	border-radius:5px;
}
.hotAngK span {
	background-image: url(../images/icon/hotAng.gif);
	background-repeat: no-repeat;
	height: 15px;
	width: 21px;
	display: block;
	margin-top: -2px;
	margin-left: 40px;
}
.mtop20 {
	margin-top: 20px;
}
.searchTtl {
	line-height: 32px;
	padding-top: 0px;
	padding-right: 30px;
	padding-bottom: 0px;
	padding-left: 30px;
}
.searchTtl span {
	margin-right: 5px;
	margin-left: 5px;
}
.area ul .more {
	line-height: 35px;
	display: block;
	float: right;
	height: 35px;
	background-image: url(../images/icon/use03_b.gif);
	background-repeat: no-repeat;
	background-position: left center;
	margin-right: 15px;
	padding-left: 20px;
}
.uPromptBoxNml {
	line-height: 20px;
	color: #333;
	border: 1px solid #666;
	background-color: #FFF;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 12px;
	clear: both;
	font-family: Arial, "宋体";
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	box-shadow:1px 1px 5px rgba(0,0,0,.2);
}
.uPromptBoxWml {
	line-height: 20px;
	color: #333;
	border: 1px solid #B53311;
	background-color: #FFFFCC;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 12px;
	clear: both;
	font-family: Arial, "宋体";
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	box-shadow:1px 1px 5px rgba(0,0,0,.2);
}
.uPromptBoxNml span,.uPromptBoxWml span {
	color: #B53311;
}
.exercise .icon {
	background-image: url(../images/bg/exerciseIcon.gif);
	float: left;
	height: 35px;
	width: 32px;
	display: block;
}
.searchNothing {
	font-size: 18px;
	text-align: center;
	color: #333;
	margin-top: 40px;
	margin-bottom: 40px;
}
.relaProLi .Img {
	height: 150px;
	width: 150px;
	margin-right: auto;
	margin-left: auto;
	display: block;
}
.proShare {
	line-height: 32px;
	padding-left: 50px;
}
.qrCode {
	height: 79px;
	width: 133px;
	display: block;
	float: right;
	background-image: url(../images/icon/ang2c.gif);
	background-repeat: no-repeat;
	margin-right: 1px;
	cursor:pointer;
}
.qrCodeSpan {
	background-repeat: no-repeat;
	display:none;
	height: 200px;
	width: 200px;
	z-index:999;
	position:absolute;
	z-index:999;
	float: right;
	background-position: center center;
	background-color: #FFF;
	margin-left: -68px;
	_margin-left: -67px;
	margin-top: -1px;
	border: 2px solid #333;
	box-shadow:1px 2px 5px rgba(0,0,0,.1);
}
.vAlign{
	vertical-align:middle;	
}
.lTextK {
	padding-left: 45px;
}
.imgSelected {
	border: 1px solid #F30!important;
}
.error {
	height: 293px;
	width: 770px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 80px;
	margin-bottom: 80px;
	background-repeat: no-repeat;
	background-position: bottom;
}
.error .pic {
	height: 198px;
	width: 111px;
	margin-left: 125px;
	float: left;
}
.error400{
	background-image: url(../images/bg/error400.gif);
	}
.error404{
	background-image: url(../images/bg/error404.gif);
	}
.error500{
	background-image: url(../images/bg/error500.gif);
	}
.error .text {
	float: left;
	width: 490px;
	padding-left: 40px;
	margin-top: 30px;
}
.error>.text>.text1 {
	font-size: 22px;
	color: #B53311;
	line-height: 46px;
}
.error>.text>.text2 {
	font-size: 18px;
	color: #333;
	line-height: 32px;
}
.error>.text>.text3 {
	font-size: 12px;
	color: #666;
	line-height: 26px;
}
.c1 td {
	padding: 2px!important;
}
.statistics .left {
	float: left;
	width: 430px;
}
.statistics .right {
	float: right;
	width: 500px;
}
.statistics div .left .ttl {
	font-size: 14px;
	font-weight: 700;
	text-align: left;
	background-image: url(../images/icon/ang_hlep2.gif);
	background-repeat: no-repeat;
	background-position: 10px center;
	padding-left: 20px;
	line-height: 28px;
	background-color: #F5F5F5;
}
.statistics div .left ul li {
	line-height: 38px;
	padding-left: 30px;
}
.search>.login>span {
	vertical-align: middle;
}
.seekDown,.seekUp {
	float: right;
	height: 35px;
	width: 45px;
	margin-right: 10px;
	background-repeat: no-repeat;
	background-position: right center;
	cursor:pointer;
}
.seekUp.Up{
background-image: url(../images/bg/up.gif);
}
.seekDown.Down{
background-image: url(../images/bg/down.gif);
}
.userPrompts {
	background-color: #FFFDF1;
	border: 1px solid #E9D2C0;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 22px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
}
.userPrompts>.Prompts {
	font-size: 14px;
	color: #333;
	font-weight: 700;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCC;
}
.userPrompts>div {
	padding-top: 10px;
	padding-bottom: 10px;
}
.fLeft {
	float: left;
}
.mRight10 {
	margin-right: 10px;
}
