* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

ul, ol {
    list-style: none
}

a:active, a:hover, a:focus, a:visited {
    color: inherit;
    list-style: none;
    text-decoration: none;
}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*height:1%;}
.fl{float:left;}
.fr{float:right;}


.login-header{position:relative;background:#fff;height:100px;line-height: 100px;padding:0px 20px;z-index:10;}
.login-logo{margin-top:7px;width:85px;height:85px;background:url("../images/login_logo.png") no-repeat;}
.login-header span{font-size:30px;}
.login-wrap{position:fixed;top:100px;left:0px;width:100%;height:100%;background:url("../images/bg.png") no-repeat center top;z-index:9;}
.login-wrap-logo{position:absolute;top:50%;left:50%;margin:-240px 0 0 -550px;width:450px;height:400px;background:url("../images/login-wrap-logo.png") no-repeat;}
.login-box{position:absolute;top:50%;left:50%;padding:45px 55px;margin:-250px 0px 0px 100px;width:423px;height:423px;background:#fff;border-radius:10px;}
.login-box h3{ text-align: center;font-size:24px;color:#FB702F;}
.login-form{margin-top:40px;}
.login-form-input{position:relative;width:100%;height:44px;margin-bottom:25px;overflow:hidden;}
.login-form-input i{position:absolute;width:20px;height:25px;top:9px;left:10px;transition:background .3s;}
.login-form-input input{width:100%;height:42px;line-height:42px;padding:0px 10px 0px 40px;font-size:14px;border:1px solid #999;border-radius:3px;transition:border .3s;}
.login-form-input input:focus{outline:none;border:1px solid #FB702F;}
.login-form-input input:focus + .icon-user-one{background:url("../images/icon_yonghu_selected.png") no-repeat;}
.login-form-input input:focus + .icon-psd{background:url("../images/icon_key_selected.png") no-repeat;}
.input-check{width:18px;height:18px;border:1px solid #ccc;border-radius:2px;}
.input-check.checked{background:url("../images/icon_checked.png") no-repeat;border:none;}
.input-check+span{margin-left:5px;color:#555;line-height: 18px;}
.login-form-btn{margin-top:20px;width:100%;height:44px;line-height: 44px;text-align: center;background:#FB702F;border-radius:3px;border:none;color:#fff;font-size:16px;cursor:pointer;}
.form-error{margin-top:10px;line-height: 30px;color: #ff431a;font-size:14px;}
.icon-user-one{background:url("../images/icon_yonghu_default.png") no-repeat;}
.icon-psd{background:url("../images/icon_key_default.png") no-repeat;}