<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致

 -->
<mapper namespace="com.ulaiber.web.dao.BanksRootDao">

    <!--银行用户登录-->
    <select id="bankUserLogin" parameterType="Map" resultType="com.ulaiber.web.model.BankUsers">
        select a.* from tbl_bank_users a WHERE a.mobile = #{mobile}
    </select>

    <!--根据角色名获取银行管理页-->
    <select id="getBankMenuByUser" parameterType="String" resultType="com.ulaiber.web.model.Menu">
        SELECT a.id , a.NAME , a.url , a.CODE , a.father , a.icon , a.sorting
            FROM tbl_menu a WHERE  a.CODE IN( SELECT b.menuNumber FROM tbl_bank_users c
            LEFT JOIN tbl_roleMenu b ON c.roleid = b.role_id
            WHERE c.disabled = '0' AND c.NAME = #{userName})
    </select>

    <!--根据银行名称查询银行信息-->
    <select id="queryBankByName" parameterType="String" resultType="com.ulaiber.web.model.Headquarters">
        SELECT * FROM tbl_bank_headquarters where bankName = #{bankName}
    </select>

    <!--新增总行-->
    <insert id="insertHeadquarters" parameterType="com.ulaiber.web.model.Headquarters">
        INSERT INTO tbl_bank_headquarters(bankName,remark)
            VALUES (#{bankName},#{remark})
    </insert>

    <!--获取总行数量-->
    <select id="getHeadquartersCount" resultType="int">
        select count(id) as count from tbl_bank_headquarters
    </select>

    <!--查询总行信息-->
    <select id="queryHeadquarters" parameterType="Map" resultType="com.ulaiber.web.model.Headquarters">
        SELECT * FROM tbl_bank_headquarters where 1=1
        <if test="search != null and search != ''">
            and bankName like concat('%',#{search},'%')
        </if>
        limit #{pageNum},#{pageSize}
    </select>

    <!--根据银行编号修改银行信息-->
    <update id="modifyHeadquarters" parameterType="com.ulaiber.web.model.Headquarters">
        UPDATE tbl_bank_headquarters SET bankName = #{bankName} ,remark = #{remark} WHERE id = #{id}
    </update>
    
    <!--根据总行编号查询是否存在分部-->
    <select id="queryBranchByBankNo" parameterType="int" resultType="com.ulaiber.web.model.Branch">
        SELECT * FROM tbl_bank_branch where headquartersNo IN
        <foreach collection="array" item="number" open="(" separator="," close=")">
            #{number}
        </foreach>
    </select>

    <!--根据银行编号删除银行-->
    <delete id="removeHeadquarters" parameterType="int">
        DELETE FROM tbl_bank_headquarters WHERE id IN
        <foreach collection="array" item="number" open="(" separator="," close=")">
            #{number}
        </foreach>
    </delete>

    <!--获取所有总部-->
    <select id="getAllHeadquarters" resultType="com.ulaiber.web.model.Headquarters">
        SELECT * FROM  tbl_bank_headquarters
    </select>

    <!--获取分行数量-->
    <select id="getbranchCount" parameterType="Map" resultType="int">
        SELECT count(id) AS count FROM tbl_bank_branch
        <if test="bankNo != null and bankNo != ''">
            <if test="type == '0'">
                where headquartersNo = #{bankNo}
            </if>
        </if>
    </select>

    <!--分部查询-->
    <select id="queryBranchs" parameterType="Map" resultType="com.ulaiber.web.model.Branch">
        select a.id,a.name,a.headquartersNo,a.remark,b.bankName as headquarters from tbl_bank_branch a
          left join tbl_bank_headquarters b on a.headquartersNo = b.id where 1=1
        <if test="bankNo != null and bankNo != ''">
            <if test="type == '0'">
                and a.headquartersNo = #{bankNo}
            </if>
        </if>
        <if test="search != null and search != ''">
            and a.name like concat('%',#{search},'%')
        </if>
        limit #{pageNum},#{pageSize}
    </select>

    <!--根据名称查询分行是否已存在-->
    <select id="queryBranchByName" parameterType="String" resultType="com.ulaiber.web.model.Branch">
        SELECT * FROM tbl_bank_branch WHERE name = #{branchName}
    </select>

    <!--新增分行-->
    <insert id="insertBranchs" parameterType="com.ulaiber.web.model.Branch" >
        INSERT INTO tbl_bank_branch(name,headquartersNo,remark)
            VALUES (#{name},#{headquartersNo},#{remark})
    </insert>

    <!-- 获取各个分行业务员的总数-->
    <select id="getBranchSalemenCount" parameterType="int" resultType="Map">
        SELECT bankNo,count(id) as count from tbl_bank_users where bankNo in
        <foreach collection="array" item="ids" open="(" separator="," close=")">
             #{ids}
        </foreach>
        GROUP BY bankNo
    </select>

    <!-- 根据分行编号修改分行信息-->
    <update id="modifyBranchs" parameterType="com.ulaiber.web.model.Branch" >
        UPDATE tbl_bank_branch set name = #{name} ,headquartersNo = #{headquartersNo},remark = #{remark}
              WHERE id = #{id}
    </update>

    <!--根据分行编号查询是否存在支行-->
    <select id="queryBranchChildrenByBranchId" parameterType="Map" resultType="com.ulaiber.web.model.BranchsChildren">
        SELECT id,name FROM  tbl_branch_children
        <if test="type == 0">
            where headquartersNo in
            <foreach collection="number" item="number" open="(" separator="," close=")">
                  #{number}
            </foreach>
        </if>
        <if test="type == 1">
            where branchNo in
            <foreach collection="number" item="number" open="(" separator="," close=")">
                #{number}
            </foreach>
        </if>
    </select>

    <!--删除分行-->
    <delete id="removeBranchs" parameterType="int" >
        DELETE FROM tbl_bank_branch where id in
        <foreach collection="array" item="number" open="(" separator="," close=")">
            #{number}
        </foreach>
    </delete>
</mapper>