<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致

 -->
<mapper namespace="com.ulaiber.web.dao.EmployeeDao">

    <!--根据员工姓名查询对应的信息-->
    <select id="getEmpByName" parameterType="String" resultType="com.ulaiber.web.model.Employee">
        SELECT * from tbl_employee where name = #{empName}
    </select>

    <!--新增员工信息-->
    <insert id="addEmployee" parameterType="com.ulaiber.web.model.Employee">
        INSERT INTO tbl_employee(companyNumber,dept_number,name,idCard,bankNo,bankCard,telephone)
            VALUES (#{companyNumber},#{dept_number},#{name},#{idCard},#{bankNo},#{bankCard},#{telephone})
    </insert>
</mapper>