<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致

 -->
<mapper namespace="com.ulaiber.web.dao.EmployeeDao">

    <resultMap id="empMap" type="User" >
        <id property="id" column="user_id" jdbcType="BIGINT" />
    </resultMap>

    <!--根据员工姓名查询对应的信息-->
    <select id="getEmpByName" parameterType="Map" resultType="com.ulaiber.web.model.User">
        SELECT * from tbl_users where user_name = #{userName} and mobile = #{mobile}
    </select>

    <!--新增员工信息-->
    <insert id="addEmployee" parameterType="com.ulaiber.web.model.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tbl_users(login_password,mobile,cardType,user_name,cardNo,bankNo,bankCardNo,role_id)
            VALUES (#{login_password},#{mobile},"1",#{userName},#{cardNo},#{bankNo},#{bankCardNo},#{role_id})
    </insert>

    <!--修改员工信息-->
    <update id="editEmp" parameterType="com.ulaiber.web.model.User">
        UPDATE tbl_users set mobile = #{mobile},user_name = #{userName} , cardNo = #{cardNo}
              ,bankNo = #{bankNo}, bankCardNo = #{bankCardNo},role_id = #{role_id}
          where user_id = #{id}
    </update>

    <!--修改权限对应关系表-->
    <update id="editRoots" parameterType="com.ulaiber.web.model.User">
        UPDATE tbl_roots set groupNumber = #{groupNumber},companyNumber = #{companyNumber},dept_number = #{dept_number}
        where userid = #{id}
    </update>

    <!--获取员工总数-->
    <select id="getEmpTotal" resultType="int">
        select count(a.user_name) as total from tbl_users a left join tbl_roots b on a.user_id = b.userid
        <if test = 'sysflag == "1"'>
            where b.companyNumber in
            <foreach collection="companyNumber" item="companyNumber" open="(" separator="," close=")">
                #{companyNumber}
            </foreach>
        </if>
    </select>

    <!-- 分页查询员工信息-->
    <select id="empQuery" parameterType="Map" resultType="com.ulaiber.web.model.User">
        select d.bankName ,e.companyNumber,a.role_id,a.mobile,a.cardNo,
        e.dept_number,a.user_id as id,a.user_name as userName,a.bankNo,a.bankCardNo,
        b.name as com_name,c.name as dept_name,e.groupNumber , f.role_name from tbl_users a
        left join tbl_banks d on a.bankNo = d.bankNo
        left join tbl_roots e on a.user_id = e.userid
        LEFT JOIN tbl_company b on e.companyNumber = b.companyNumber
        left join tbl_departments c on e.dept_number = c.dept_number
        left join tbl_roles f on a.role_id = f.role_id where 1=1
        <if test="search != null and search != ''">
            and  a.user_name like concat('%',#{search},'%') or a.cardNo like concat('%',#{search},'%')
        </if>
        <if test = 'sysflag == "1"'>
            and e.companyNumber  in
            <foreach collection="companyNumber" item="companyNumber" open="(" separator="," close=")">
                 #{companyNumber}
            </foreach>
        </if>
        limit #{pageNum},#{pageSize}
    </select>

    <!-- 根据员工编号删除对应的员工-->
    <delete id="empDelete" parameterType="String">
        DELETE FROM tbl_users where user_id in
        <foreach collection="array" item="number" open="(" separator="," close=")">
            #{number}
        </foreach>
    </delete>

    <!--删除权限层级表中的记录-->
    <delete id="deleteRoots" parameterType="String">
        DELETE FROM tbl_roots where userid in
        <foreach collection="array" item="number" open="(" separator="," close=")">
            #{number}
        </foreach>
    </delete>
</mapper>