<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致

 -->
<mapper namespace="com.ulaiber.web.dao.LeaveDao">

    <resultMap id="LeaveRecordMap" type="com.ulaiber.web.model.LeaveRecord" >
        <id property="id" column="id" jdbcType="BIGINT" />
    </resultMap>

    <!--申请请假-->
    <insert id="saveLeaveRecord" parameterType="com.ulaiber.web.model.LeaveRecord" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tbl_leave_record (userid,leaveType,startDate,endDate,leaveTime,auditor,reason,createDate,status,disable,type)
            VALUES (#{userid},#{leaveType},#{startDate},#{endDate},#{leaveTime},#{auditor},#{reason},#{createDate},'0','0','0')
    </insert>

    <!--查询个人申请记录-->
    <select id="queryApplyRecord" parameterType="Map" resultType="com.ulaiber.web.model.ApplyForVO">
        SELECT  a.id,a.userid,a.leaveType,a.startDate,a.endDate,a.leaveTime,a.auditor,a.reason,a.createDate,
          a.currentAuditor,a.disable,a.type,a.status,b.user_name as username,b.image
            FROM tbl_leave_record a left join tbl_overtime_details c on a.id = c.recordNo
                left join tbl_users b on a.userid = b.user_id
                where  a.userid = #{userid} ORDER BY a.createDate DESC limit #{pageNum},#{pageSize}
    </select>

    <!--取消请假申请-->
    <update id="cancelApply" parameterType="String"  >
        UPDATE tbl_leave_record SET  disable = '1' WHERE id = #{applyId}
    </update>

    <!--取消请假审批人-->
    <update id="cancelApplyAudit" parameterType="String" >
        UPDATE tbl_leave_audit_record SET disable = '1' where recordNo = #{applyId}
    </update>

    <!--查询工作提醒-->
    <select id="getLeaveRecord" parameterType="String" resultType="Map">
        select a.userid,a.reason,a.createDate,b.user_name,a.type  from tbl_leave_record a left join tbl_users b on a.userid = b.user_id
        where a.disable = '0' and a.status = '0' and a.userid = #{userId} order by a.createDate DESC
    </select>

    <!--获取待审批记录数量-->
    <select id="getPendingRecord" parameterType="String" resultType="java.util.HashMap">
        select createDate,status from tbl_leave_record  where status = '0' and auditor like concat('%',#{userId},'%') order by  createDate DESC
    </select>

    <!--获取已审批记录数量-->
    <select id="getAlreadyRecord" parameterType="String" resultType="java.util.HashMap">
        select createDate,status from tbl_leave_record  where status &lt;&gt; '0' and auditor like concat('%',#{userId},'%') order by  createDate DESC
    </select>

    <!--获取待审批记录-->
    <select id="queryPeningRecord" parameterType="Map" resultType="com.ulaiber.web.model.ApplyForVO">
        select a.id,a.leaveType,a.startDate,a.endDate,a.leaveTime,a.auditor,a.reason,a.createDate,a.currentAuditor,
        a.status,a.disable,a.type,b.holiday,b.mode,c.user_name as username ,c.image  from tbl_leave_record a
        left join tbl_overtime_details b on a.id = b.recordNo
        left join tbl_users c on a.userid = c.user_id
        where a.disable = '0' and  a.auditor like concat('%',#{userId},'%') and a.id = #{id}
        order by a.createDate desc
    </select>

    <!--获取已审批记录-->
    <select id="queryAlreadRecord" parameterType="Map" resultType="com.ulaiber.web.model.ApplyForVO">
        select a.id,a.leaveType,a.startDate,a.endDate,a.leaveTime,a.auditor,a.reason,a.createDate,a.currentAuditor,
        a.status,a.disable,a.type,b.holiday,b.mode,c.user_name as username ,c.image  from tbl_leave_record a
        left join tbl_overtime_details b on a.id = b.recordNo
        left join tbl_users c on a.userid = c.user_id
        where  a.id in
        <foreach collection="array" item="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
        order by a.editDate desc
    </select>

    <!--更新申请记录为最新的状态-->
    <update id="updateRecord" parameterType="Map" >
        UPDATE tbl_leave_record set status = #{status},currentAuditor = #{currentAuditor},editDate = #{date} where id = #{recordNo}
    </update>

    <!--根据申请记录ID获取申请记录-->
    <select id="queryApplyRecordById" parameterType="int" resultType="Map">
        select a.reason,a.type,b.user_name from tbl_leave_record a left join tbl_users b on a.userid = b.user_id  where a.id = #{id}
    </select>

    <!--根据日期查询用户-->
    <select id="getUserTotalByDate" parameterType="String" resultType="int">
        select count(user_id) as total from tbl_users where 1=1
        <if test='_parameter != "" and _parameter != null'>
            and createTime > #{date}
        </if>

    </select>

    <!--根据日期分页查询用户-->
    <select id="getUserByDate" parameterType="Map" resultType="com.ulaiber.web.model.User">
        select a.user_id as id,a.user_name as userName,a.image,a.disabled,c.name as dept_name,a.createTime  from tbl_users a
        left join tbl_roots b on a.user_id = b.userid
        left join tbl_departments c on b.dept_number = c.dept_number
        where 1=1
        <if test='date != "" and date != null'>
            and  a.createTime > #{date}
        </if>
        order by a.createTime limit #{pageNum},#{pageSize}
    </select>

    <!--修改用户个推CID-->
    <update id="updateUser" parameterType="Map">
        UPDATE tbl_users set CID = #{CID} where user_id = #{userid}
    </update>

    <!--新增申请记录-->
    <insert id="insertRemedyRecord" parameterType="com.ulaiber.web.model.LeaveRecord"  useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tbl_leave_record (userid,auditor,reason,createDate,status,disable,type)
            VALUES (#{userid},#{auditor},#{reason},#{createDate},'0','0','0')
    </insert>

    <!--新增补卡信息-->
    <insert id="addRemedy" parameterType="com.ulaiber.web.model.Remedy" >
        INSERT INTO tbl_remedy (recordNo,morning,afternoon,type)
            VALUES (#{recordNo},#{morning},#{afternoon},#{type})
    </insert>
</mapper>