<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致

 -->
<mapper namespace="com.ulaiber.web.dao.LeaveDao">

    <resultMap id="LeaveRecordMap" type="com.ulaiber.web.model.LeaveRecord" >
        <id property="id" column="id" jdbcType="BIGINT" />
    </resultMap>

    <!--申请请假-->
    <insert id="saveLeaveRecord" parameterType="com.ulaiber.web.model.LeaveRecord" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tbl_leave_record (userid,leaveType,startDate,endDate,leaveTime,auditor,reason,createDate,status,disable)
            VALUES (#{userid},#{leaveType},#{startDate},#{endDate},#{leaveTime},#{auditor},#{reason},#{createDate},'0','0')
    </insert>

    <!--查询个人申请记录-->
    <select id="queryApplyRecord" parameterType="String" resultType="com.ulaiber.web.model.LeaveRecord">
        SELECT a.*,b.status FROM tbl_leave_record a left join
        (select max(auditDate)as date,recordNo,status from tbl_leave_audit_record GROUP BY recordNo,status ) b
        on a.id = b.recordNo  where  a.userid = #{userid}
    </select>

    <!--取消请假申请-->
    <update id="cancelApply" parameterType="String"  >
        UPDATE tbl_leave_record SET  disable = '1' WHERE id = #{applyId}
    </update>

    <!--查询工作提醒-->
    <select id="getLeaveRecord" parameterType="String" resultType="com.ulaiber.web.model.ApplyForVO">
      SELECT * FROM tbl_leave_record where userid = #{userId}
    </select>

    <!--获取待审批记录数量-->
    <select id="getPendingRecord" parameterType="String" resultType="java.util.HashMap">
        select createDate,status from tbl_leave_record  where status = '0' and auditor like concat('%',#{userId},'%') order by  createDate DESC
    </select>

    <!--获取已审批记录数量-->
    <select id="getAlreadyRecord" parameterType="String" resultType="java.util.HashMap">
        select createDate,status from tbl_leave_record  where status &lt;&gt; '0' and auditor like concat('%',#{userId},'%') order by  createDate DESC
    </select>

    <!--获取待审批记录-->
    <select id="queryPeningRecord" parameterType="int" resultType="com.ulaiber.web.model.ApplyForVO">
        select id,leaveType,startDate,endDate,leaveTime,auditor,reason,createDate,status,disable from tbl_leave_record
        where id = #{id}
    </select>

    <!--获取已审批记录-->
    <select id="queryAlreadRecord" parameterType="String" resultType="com.ulaiber.web.model.ApplyForVO">
        select id,leaveType,startDate,endDate,leaveTime,auditor,reason,createDate,status,disable from tbl_leave_record
        where id = #{id}
    </select>

    <!--更新申请记录为最新的状态-->
    <update id="updateRecord" parameterType="Map" >
        UPDATE tbl_leave_record set status = #{status} where id = #{recordNo}
    </update>
</mapper>