<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致

 -->
<mapper namespace="com.ulaiber.web.dao.LeaveAuditDao">

    <!--保存请假审批人-->
    <insert id="saveAditor" parameterType="java.util.List" >
        INSERT INTO tbl_leave_audit_record (recordNo,userid,auditor,auditDate,status,disable)  VALUES
        <foreach collection="list" item="items" index= "index" separator =",">
            (#{items.recordNo},#{items.userid},#{items.auditor},#{items.auditDate},'0','0')
        </foreach>
    </insert>

    <!--取消请假审批人-->
    <update id="cancelApplyAudit" parameterType="String" >
        UPDATE tbl_leave_audit_record SET disable = '1' where recordNo = #{applyId}
    </update>

    <!--查询审批人记录-->
    <select id="queryAuditor" parameterType="String" resultType="com.ulaiber.web.model.LeaveAudit">
        SELECT id,auditor,recordNo,status,userid,disable from tbl_leave_audit_record where userid in
        <foreach collection="array" item="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </select>

    <!--获取个人所有审批记录-->
    <select id="getLeaveAuditor" parameterType="String" resultType="com.ulaiber.web.model.AuditVO">
        select id,recordNo,userid,auditor,auditDate,status from tbl_leave_audit_record WHERE auditor = #{userId}
    </select>
</mapper>