<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致

 -->
<mapper namespace="com.ulaiber.web.dao.OvertimeDao">

    <!--新增加班申请记录-->
    <insert id="addOvertimeRecord" parameterType="com.ulaiber.web.model.ApplyForVO">
        INSERT INTO tbl_overtime_details(recordNo,mode) VALUES (#{id},#{mode})
    </insert>

    <!--新增加班记录信息-->
    <insert id="addRecord" parameterType="com.ulaiber.web.model.ApplyForVO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tbl_leave_record (userid,startDate,endDate,leaveTime,auditor,reason,createDate,status,disable,type)
        VALUES (#{userid},#{startDate},#{endDate},#{leaveTime},#{auditor},#{reason},#{createDate},'0','0','1')
    </insert>
</mapper>