<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.ulaiber.web.dao.PageDao">

    <resultMap id="PageMap" type="Page" >
    	<id column="pid" property="pid" jdbcType="INTEGER" />
    	<result column="page_name" property="pageName" jdbcType="VARCHAR" />
    	<result column="create_time" property="createTime" jdbcType="VARCHAR" />
    	<result column="update_ime" property="updateTime" jdbcType="VARCHAR" />
    	<result column="remark" property="remark" jdbcType="VARCHAR" />
   </resultMap>
   
   <insert id="save" parameterType="Page">
   		insert into tbl_pages(page_name, create_time, remark) values(#{pageName}, #{createTime}, #{updateTime}, #{remark});
   </insert>
  
	<select id="getAllPages" resultMap="PageMap">
		select * from tbl_pages 
		<if test="search != null and search != ''">
			where page_name like concat('%',#{search},'%')
		</if>
		order by createTime desc limit #{offset},#{limit}
	</select>
	
	<select id="getAllPagesforApi" resultMap="PageMap">
		select * from tbl_pages
	</select>
	
	<select id="getTotalNum" resultType="Integer">
		select count(1) from tbl_pages
	</select>
	
	<select id="getPageByPid" parameterType="Integer" resultMap="PageMap">
		select * from tbl_pages where pid=#{pid}
	</select>
	
</mapper>