<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致

 -->
<mapper namespace="com.ulaiber.web.dao.PermissionDao">

    <!--新增集团-->
    <insert id="addGroup" parameterType="int" >
          insert into tbl_group(name,registeredCapital,legalPerson,contacts,contactsTelephone,details,remark)
              VALUES (#{name},#{registeredCapital},#{legalPerson},#{contacts},#{contactsTelephone},#{details},#{remark})
    </insert>

    <!--根据集团名查找对应集团-->
    <select id="searchGroupByName" parameterType="String" resultType="com.ulaiber.web.model.Group">
        select * FROM tbl_group where name = #{name}
    </select>

    <!--查询所有集团-->
    <select id="groupQuery" parameterType="Map" resultType="com.ulaiber.web.model.Group">
          select name,contacts,contactsTelephone,details,registeredCapital,groupNumber,remark,legalPerson
          FROM tbl_group where 1=1
        <if test="search != null and search != ''">
            and name like concat('%',#{search},'%')
        </if>
        <if test='sysflag == "1"'>
            and groupNumber = #{groupNumber}
        </if>
        limit #{pageNum},#{pageSize}
    </select>

    <!--获取集团总数-->
    <select id="getTotal" resultType="int" parameterType="Map">
        select COUNT(name) total from tbl_group
        <if test = 'sysflag == "1"'>
            where groupNumber = #{groupNumber}
        </if>
    </select>

    <!--修改集团信息-->
    <update id="modifyGroup" parameterType="com.ulaiber.web.model.Group">
        update tbl_group set name = #{name},registeredCapital =#{registeredCapital} ,legalPerson = #{legalPerson},
            contacts = #{contacts},contactsTelephone = #{contactsTelephone},details = #{details},remark = #{remark}
            WHERE groupNumber = #{groupNumber}
    </update>

    <!--删除集团-->
    <delete id="deleteGroup" parameterType="String">
        DELETE FROM tbl_group where groupNumber in
        <foreach collection="array" item="numbers" open="(" separator="," close=")">
            #{numbers}
        </foreach>
    </delete>

    <!--根据部门编号获取对应部门-->
    <select id="getDeptByNum" parameterType="String" resultType="com.ulaiber.web.model.Departments">
        SELECT dept_number FROM tbl_departments where name = #{deptNum}
    </select>

    <!--新增部门-->
    <insert id="addDept" parameterType="com.ulaiber.web.model.Departments">
        INSERT into tbl_departments(name,company_num,remark)
            VALUES (#{name},#{company_num},#{remark})
    </insert>

    <!--获取所有部门信息-->
    <select id="departmentQuery" parameterType="Map" resultType="com.ulaiber.web.model.Departments">
        SELECT a.company_num,a.count,a.dept_number,a.name,a.remark,b.name as comName  from tbl_departments a left join tbl_company b
        on a.company_num = b.companyNumber where 1=1
        <if test="search != null and search != ''">
            and a.name like concat('%',#{search},'%')
        </if>
        <if test = 'sysflag == "1"'>
            and a.company_num in
            <foreach collection="companyNumber" item="companyNumber" open="(" separator="," close=")">
                #{companyNumber}
            </foreach>
        </if>
        limit #{pageNum},#{pageSize}
    </select>

    <!--获取部门总数-->
    <select id="getDeptTotal" parameterType="Map" resultType="int">
        select COUNT(name) total from tbl_departments where 1=1
        <if test = 'sysflag == "1"'>
            and company_num in
            <foreach collection="companyNumber" item="companyNumber" open="(" separator="," close=")">
                #{companyNumber}
            </foreach>
        </if>
    </select>

    <!--修改部门信息-->
    <update id="editDept" parameterType="com.ulaiber.web.model.Departments" >
        UPDATE tbl_departments set name = #{name},company_num = #{company_num}, remark = #{remark}
          where dept_number = #{dept_number}
    </update>

    <!--删除部门-->
    <delete id="deptDelete" parameterType="String">
        DELETE FROM  tbl_departments WHERE dept_number in
        <foreach collection="array" item="number" open="(" separator="," close=")">
            #{number}
        </foreach>
    </delete>

    <!--获取所有集团信息-->
    <select id="getAllGroup" resultType="com.ulaiber.web.model.Group" parameterType="Map">
        select name,groupNumber from tbl_group
        <if test = 'sysflag == "1"'>
            where groupNumber = #{groupNumber}
        </if>
    </select>

    <!--新增公司基本信息-->
    <insert id="addCom" parameterType="com.ulaiber.web.model.Company" useGeneratedKeys="true" keyProperty="companyNumber">
        INSERT into tbl_company(name,legalPerson,account,group_num,details)
        VALUES (#{name},#{legalPerson},#{account},#{group_num},#{details})
    </insert>

    <!--获取所有银行信息-->
    <select id="getAllBank" resultType="com.ulaiber.web.model.Bank">
        SELECT * FROM tbl_banks
    </select>

    <!--获取公司总数-->
    <select id="getCompanyTotal" resultType="int">
        select COUNT(name) total from tbl_company
        <if test = 'sysflag == "1"'>
            where group_num = #{groupNumber}
        </if>
    </select>

    <!--获取所有公司信息-->
    <select id="companyQuery" parameterType="Map" resultType="com.ulaiber.web.model.Company" >
        select a.name,a.account,a.companyNumber,a.details,a.group_num,a.legalPerson,b.name as groupName
        from tbl_company a left join tbl_group b on a.group_num = b.groupNumber
        <if test = 'sysflag == "1"'>
            where a.group_num = #{groupNumber}
        </if>
        limit #{pageNum},#{pageSize}
    </select>

    <!--//更新银行信息表-->
    <update id="updateCompany" parameterType="com.ulaiber.web.model.Company" >
        UPDATE tbl_company SET name= #{name}, legalPerson = #{legalPerson} ,
         account = #{account} , group_num = #{group_num} , details = #{details} WHERE companyNumber = #{companyNumber}
    </update>

    <!--获取所有公司信息-->
    <select id="getAllCompany" resultType="com.ulaiber.web.model.Company">
        select companyNumber,name from tbl_company where 1=1
        <if test = 'sysflag == "1"'>
            and  group_num = #{groupNumber}
        </if>
    </select>

    <!--获取所有部门信息-->
    <select id="getAllDept" resultType="com.ulaiber.web.model.Departments">
        SELECT dept_number,name from tbl_departments
    </select>


    <!--根据部门id查询该部门是否存在用户-->
    <select id="queryUserByDeptid" parameterType="String" resultType="com.ulaiber.web.model.User">
        select * from tbl_roots where dept_number in
        <foreach collection="array" item="number" open="(" separator="," close=")">
            #{number}
        </foreach>
    </select>

    <!--根据公司编号查询该公司是否存在部门-->
    <select id="queryDeptByCompanyNum" parameterType="String" resultType="com.ulaiber.web.model.Departments">
        select * from tbl_departments where company_num in
        <foreach collection="array" item="idsArr" open="(" separator="," close=")">
            #{idsArr}
        </foreach>
    </select>

    <!--根据公司编号获取部门-->
    <select id="getDeptByCom" parameterType="String" resultType="com.ulaiber.web.model.Departments">
        select * from tbl_departments where company_num = #{comNum}
    </select>

    <!--根据当前角色所属公司编号，查询对应的部门-->
    <select id="queryAllDept" parameterType="Map" resultType="com.ulaiber.web.model.Departments">
        select * from tbl_departments where 1=1
        <if test = 'sysflag == "1"'>
            and  company_num = #{companyNumber}
        </if>
    </select>

    <!--获取各个部门员工人数-->
    <select id="getDeptEmpCount" resultType="com.ulaiber.web.model.Departments">
        select count(dept_number) as count,dept_number  from tbl_roots group by dept_number;
    </select>
</mapper>