<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致

 -->
<mapper namespace="com.ulaiber.web.dao.PermissionDao">

    <!--新增集团-->
    <insert id="addGroup" parameterType="int" >
          insert into tbl_group(name,registeredCapital,legalPerson,contacts,contactsTelephone,details,remark)
              VALUES (#{name},#{registeredCapital},#{legalPerson},#{contacts},#{contactsTelephone},#{details},#{remark})
    </insert>

    <!--根据集团名查找对应集团-->
    <select id="searchGroupByName" parameterType="String" resultType="com.ulaiber.web.model.Group">
        select * FROM tbl_group where name = #{name}
    </select>

    <!--查询所有集团-->
    <select id="groupQuery" resultType="com.ulaiber.web.model.Group">
          select name,contacts,contactsTelephone,details,registeredCapital,groupNumber,remark,legalPerson FROM tbl_group
    </select>

    <!--修改集团信息-->
    <update id="modifyGroup" parameterType="com.ulaiber.web.model.Group">
        update tbl_group set name = #{name},registeredCapital =#{registeredCapital} ,legalPerson = #{legalPerson},
            contacts = #{contacts},contactsTelephone = #{contactsTelephone},details = #{details},remark = #{remark}
            WHERE groupNumber = #{groupNumber}
    </update>

    <!--删除集团-->
    <delete id="deleteGroup" parameterType="String">
        DELETE FROM tbl_group where groupNumber in
        <foreach collection="array" item="numbers" open="(" separator="," close=")">
            #{numbers}
        </foreach>
    </delete>
</mapper>