<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致

 -->
<mapper namespace="com.ulaiber.web.dao.ReportDao">

    <!--获取申请记录总数-->
    <select id="getLeaveCount" parameterType="Map" resultType="int">
        select count(a.id)as count from tbl_leave_record a
            left join tbl_roots b on a.userid = b.userid
            left join tbl_group c on b.groupNumber = c.groupNumber
            left join tbl_company d on b.companyNumber = d.companyNumber
            left join tbl_departments e on e.dept_number = b.dept_number
            where 1=1
        <if test = 'sysflag == "1"'>
            and c.groupNumber = #{groupNumber}
        </if>
    </select>

    <!--申请记录查询-->
    <select id="leaveQuery" parameterType="Map" resultType="com.ulaiber.web.model.LeaveReturnVO">
        select a.id,a.startDate,a.endDate,a.leaveTime,a.reason,a.auditor,a.status,d.name as company from tbl_leave_record a
            left join tbl_roots b on a.userid = b.userid
            left join tbl_group c on b.groupNumber = c.groupNumber
            left join tbl_company d on b.companyNumber = d.companyNumber
            left join tbl_departments e on e.dept_number = b.dept_number
            where 1=1
            <if test= 'sysflag != "1"'>
                <if test= 'groupNum != "" and groupNum != null'>
                     c.groupNumber = #{groupNum}
                </if>
                <if test= 'companyNum != "" and companyNum != null'>
                    and d.companyNumber = #{companyNum}
                </if>
                <if test='dept_number != "" and dept_number != null'>
                    and e.dept_number = #{deptNum}
                </if>
                <if test= 'auditor != "" and auditor != null'>
                    and a.auditor like concat('%',#{username},'%')
                </if>
                <if test='startDate != "" and startDate != null'>
                    and a.startDate &gt;= #{startDate}
                </if>
                <if test='endDate != "" and endDate != null'>
                    and a.endDate $lt; #{endDate}
                </if>
                <if  test= 'status != "" and status != null'>
                    and a.status = #{status}
                </if>
                <if  test= 'result != "" and result != null'>
                    and a.status = #{result}
                </if>

            </if>
            <if test= 'sysflag != "0"'>
                <choose>
                    <when test= 'groupNumber == "" and groupNumber == null'>
                        c.groupNumber = #{groupNumber}
                    </when>
                    <otherwise>
                        c.groupNumber = #{groupNum}
                    </otherwise>
                </choose>
                <choose>
                    <when test= 'companyNumber == "" and companyNumber == null'>
                        c.companyNumber in
                        <foreach collection="companyNumber" item="companyNumber" open="(" separator="," close=")">
                            #{companyNumber}
                        </foreach>
                    </when>
                    <otherwise>
                        c.companyNumber = #{companyNum}
                    </otherwise>
                </choose>
                <if test='dept_number != "" and dept_number != null'>
                    and e.dept_number = #{deptNum}
                </if>
                <if test= 'auditor != "" and auditor != null'>
                    and a.auditor like concat('%',#{username},'%')
                </if>
                <if test='startDate != "" and startDate != null'>
                    and a.startDate &gt;= #{startDate}
                </if>
                <if test='endDate != "" and endDate != null'>
                    and a.endDate $lt; #{endDate}
                </if>
                <if  test= 'status != "" and status != null'>
                    and a.status = #{status}
                </if>
                <if  test= 'result != "" and result != null'>
                    and a.status = #{result}
                </if>
            </if>
    </select>

    <!--根据用户ID获取用户名-->
    <select id="getUserById" parameterType="String" resultType="Map">
          SELECT user_id,user_name FROM tbl_users where user_id in
        <foreach collection="array" item="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </select>
</mapper>