<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致

 -->
<mapper namespace="com.ulaiber.web.dao.RolesDao">

    <!-- 获取所有角色信息-->
    <select id="roleAllQuery" resultType="com.ulaiber.web.model.Roles">
        SELECT  a.role_id,a.role_name,a.companyNumber FROM tbl_roles a
        <if test = 'sysflag == "1"'>
            where  a.companyNumber in
            <foreach collection="companyNumber" item="companyNumber" open="(" separator="," close=")">
                #{companyNumber}
            </foreach>
        </if>
    </select>

    <!--根据角色名，获取角色信息-->
    <select id="getRoleByName" parameterType="String" resultType="com.ulaiber.web.model.Roles">
        SELECT * FROM tbl_roles where role_name = #{roleName}
    </select>

    <!--新增角色信息-->
    <insert id="addRole" parameterType="Map" >
        INSERT INTO tbl_roles(role_name,companyNumber,companyName,type) VALUES (#{roleName},#{com_numbers},#{names},0)
    </insert>

    <!--分页查询角色信息-->
    <select id="roleQuery" parameterType="Map" resultType="com.ulaiber.web.model.Roles">
        SELECT DISTINCT a.role_id,a.role_name,a.companyNumber,a.companyName FROM tbl_roles a
        left join tbl_users b on a.role_id = b.role_id
        left join (select userid,groupNumber from tbl_roots group by userid,groupNumber) c on b.user_id = c.userid where 1=1
        <if test="search != null and search != ''">
            and  a.role_name like concat('%',#{search},'%')
        </if>
        <if test = 'sysflag == "1"'>
            and a.companyNumber in
            <foreach collection="companyNumber" item="companyNumber" open="(" separator="," close=")">
                  #{companyNumber}
            </foreach>
        </if>
        ORDER BY role_id  limit #{pageNum},#{pageSize}
    </select>

    <!--修改角色信息-->
    <update id="modifyRole" parameterType="Map">
        UPDATE tbl_roles set role_name = #{roleName} , companyNumber = #{com_numbers},companyName = #{names}
          where role_id = #{roleId}
    </update>

    <!--删除角色-->
    <delete id="deleteRoles" parameterType="String">
        DELETE FROM tbl_roles where role_id in
        <foreach collection="array" item="idsArr" open="(" separator="," close=")">
            #{idsArr}
        </foreach>
    </delete>

    <!--根据角色id，判断当前角色下是否有用户存在-->
    <select id="queryUserByRoleid" parameterType="String" resultType="com.ulaiber.web.model.User">
        SELECT role_id,user_name,disabled from tbl_users where disabled = '0' and  role_id in
        <foreach collection="array" item="idsArr" open="(" separator="," close=")">
            #{idsArr}
        </foreach>
    </select>

    <!--根据集团编号获取公司-->
    <!--获取所有公司信息-->
    <select id="getAllCompanybyGroupNum" resultType="com.ulaiber.web.model.Company">
        select companyNumber,name from tbl_company where group_num = #{groupNumber}
    </select>

    <!--根据角色ID获取角色信息-->
    <select id="queryRoleById" parameterType="String" resultType="Map">
        SELECT companyNumber,companyName FROM tbl_roles where role_id = #{roleid}
    </select>

    <!--更新角色所属公司-->
    <update id="updateRole" parameterType="Map" >
        UPDATE tbl_roles set companyNumber = #{comNo},companyName = #{name} where role_id = #{roleid}
    </update>
</mapper>