<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致

 -->
<mapper namespace="com.ulaiber.web.dao.RolesDao">

    <!-- 获取所有角色信息-->
    <select id="roleAllQuery" resultType="com.ulaiber.web.model.Roles">
        SELECT role_id,role_name,companyNumber FROM tbl_roles
        <if test = 'sysflag == "1"'>
            where companyNumber = #{companyNumber}
        </if>
    </select>

    <!--根据角色名，获取角色信息-->
    <select id="getRoleByName" parameterType="String" resultType="com.ulaiber.web.model.Roles">
        SELECT * FROM tbl_roles where role_name = #{roleName}
    </select>

    <!--新增角色信息-->
    <insert id="addRole" parameterType="Map" >
        INSERT INTO tbl_roles(role_name,companyNumber,sysflag)
            VALUES (#{roleName},#{com_numbers},'1')
    </insert>

    <!--分页查询角色信息-->
    <select id="roleQuery" parameterType="Map" resultType="com.ulaiber.web.model.Roles">
        select * from tbl_roles  where 1=1
        <if test="search != null and search != ''">
            and  role_name like concat('%',#{search},'%')
        </if>
        <if test = 'sysflag == "1"'>
            and companyNumber = #{companyNumber}
        </if>
        ORDER BY role_id  limit #{pageNum},#{pageSize}
    </select>

    <!--修改角色信息-->
    <update id="modifyRole" parameterType="Map">
        UPDATE tbl_roles set role_name = #{roleName} , companyNumber = #{com_numbers}
          where role_id = #{roleId}
    </update>

    <!--删除角色-->
    <delete id="deleteRoles" parameterType="String">
        DELETE FROM tbl_roles where role_id in
        <foreach collection="array" item="idsArr" open="(" separator="," close=")">
            #{idsArr}
        </foreach>
    </delete>

    <!--根据角色id，判断当前角色下是否有用户存在-->
    <select id="queryUserByRoleid" parameterType="String" resultType="com.ulaiber.web.model.User">
        SELECT role_id,user_name from tbl_users where role_id in
        <foreach collection="array" item="idsArr" open="(" separator="," close=")">
            #{idsArr}
        </foreach>
    </select>
</mapper>