<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.ulaiber.dao.BankDao">

    <resultMap id="BankMap" type="Bank" >
    	<id column="bankNo" property="bankNo" jdbcType="VARCHAR" />
    	<result column="bankName" property="bankName" jdbcType="VARCHAR" />
   </resultMap>
  
	 <!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->  
	<select id="getBankByBankNo" parameterType="String" resultMap="BankMap">
		select * from tbl_banks where bankNo=#{bankNo}
	</select>
	
	<select id="getAllBanks" resultMap="BankMap">
		select * from tbl_banks
	</select>
	
</mapper>